[2021-02-02 13:56] isedwards opened #1 "Standard Wagtail CMS Installation"
This repository will be used for the development of version 2 of Internet of Good Things (IoGT).

First task - replace the current contents of this old repo with a [standard Wagtail](https://docs.wagtail.io/en/stable/getting_started/index.html) 2.11 / 2.12 install and [enable Wagtail v2 API](https://docs.wagtail.io/en/stable/advanced_topics/api/v2/configuration.html#wagtail-api-v2-configuration-gu

[2021-02-18 17:12] lauriemarkle opened #2 "As a CMS editor, I can load banner images such that content is promoted / featured on the IoGT homepage."
Examples of current sites relying on banners include:
ec.goodinternet.org
zw.goodinternet.org
sa.goodinternet.org
pacific.goodinternet.org

In the CMS, a banner section allows the editor to add, remove, & reorganize banners. Current banner upload screen is pasted below. All fields remain.

Adding subtitle text results in the appearance of text at the bottom of the rotating banner on java-enabled s

[2021-02-18 17:18] lauriemarkle opened #3 "As a CMS editor, I can bulk upload images and organize them with folders or tags."
As CMS editor, I can visit the "Images" gallery in the CMS and bulk upload images. The image gallery currently only alllows for tags to be added _after_ images are loaded and tags must be added 1 at a time. Tags should be bulk-added as part of the upload process. If possible, it would be ideal to have better organization options for images. The bulk upload feature works well right now, but navigat

[2021-02-18 17:24] lauriemarkle opened #4 "As a front-end user, when I click on a link that takes me off of the IoGT site, a pop-up may appear that alerts me that I'm leaving a free-data environment."
When users accessing IoGT on a whitelisted IP address click on links to leave the site, such as a link to a WHO article, they should receive a pop up alert that they may incur data charges. In the CMS, administrators should be able to toggle this feature off and on. This pop-up language should be included in the multi-language support of the site.
![Screenshot_20210218-202312](https://user-images.

[2021-02-18 17:29] lauriemarkle opened #5 "As a CMS editor, I can enable polls to allow for anonymous submissions."
Currently, polls function to allow users to vote and receive immediate feedback: how did their answer stack up against their peers or other community members? However, the current CMS requires users to be logged in before voting in a poll. The current CMS allows for anonymous survey submissions, but not polls. Polls should be configured to allow anonymous submissions but restrict multiple submissi

[2021-02-18 17:37] lauriemarkle opened #6 "As a CMS editor, I can configure robust surveys to allow front-end users to share insights or learnings."
Surveys should allow for a feature image to appear of surveys.
Surveys should allow for editable description to appear at the start of surveys.
Surveys should allow for the following field options:

- Single line text
- Multi line text
- Positive number
- Number
- Date
- Date / time
- Email
- Checkbox (i.e. 1 option, check to consent)
- Checkboxes (i.e. check all that apply)
- Radio buttons (multi

[2021-02-18 17:40] lauriemarkle opened #7 "As a data analyst, I can export survey, poll and quiz data by form or by user as a CSV file or as an external API to PowerBI"
As a data analyst, I can export survey, poll and quiz data by individual survey, poll or quiz. For example, I can export all results from a single survey in a CSV file. I can also export results from all three form types for a single user or user group.

[2021-02-18 18:54] lauriemarkle opened #8 "As a CMS editor, I can upload multimedia files on the site for users to stream from the front end."
Multi-media files can be uploaded as MP3 & MP4 format. These files can then be accessed when editing articles and loaded as feature content. When file uploads exceed 6MB a warning sign appears that the format may not be accessible on low end devices.

(bonus points: can the MP4 function as a banner on the homepage?)

[2021-02-18 18:56] lauriemarkle opened #9 "As a CMS editor, I can upload files to the IoGT site for front-end users to download to their device."
As with multi-media files, I can upload files to IoGT and host them on the server. These can be inserted into articles as hyperlinks within the body of the article for download. When documents are added as part of the body of a text, they appear as a button, rather than hyperlinked text.

[2021-02-18 18:57] lauriemarkle opened #10 "As the CMS Editor I can design custom fields in the user profile for front-end users to answer when registering."
When users create accounts, they can be asked to complete a series of custom fields. Only user name and password are mandatory.

[2021-02-18 18:58] lauriemarkle opened #11 "As the CMS editor, I have can create user groups and assign groups access to select sections of the site."

[2021-02-18 18:59] lauriemarkle opened #12 "As a CMS editor, I can modify the site's logo with an image upload from my gallery"
Image size specifications should be noted in the CMS as an information box / hover .

[2021-02-18 19:02] lauriemarkle opened #13 "As the CMS editor, I can select the color scheme for my site using HEX codes"
CMS editors can override the default color scheme for IoGT in the settings tab by selecting the default colors for various features and replacing them with a HEX code.

[2021-02-22 11:28] lauriemarkle opened #15 "As the CMS editor, I can create at least 4 children sections and support orphaned content."
The CMS should allow for Section > Sub-section > Sub-sub section > Sub-sub-sub section > article/poll/survey/quiz. Content can appear within any of the aforementioned parent sub-sections. Content can also be orphaned such that select pages are only accessible through direct link.

[2021-02-22 11:32] lauriemarkle opened #16 "As the CMS editor, I can set pages & sections to public, private to select user groups, or password-protected."
In the current CMS, editors can set any section, sub-section, article, survey other content's view permissions as follows:
![image](https://user-images.githubusercontent.com/74552270/108702697-aacb9400-751a-11eb-86b6-ae7c817a36e2.png)
This feature is used frequently and should remain. It is an important part of our 'proofing' which allows us to have content on the site under review by the Ministry

[2021-02-22 11:33] lauriemarkle opened #17 "Features to Drop in New CMS"
Pages > Personae
Settings > Site Permissions

[2021-02-22 11:43] lauriemarkle opened #18 "As CMS Editor, I can edit features of sections"
Sections and subordinate sub-sections should have the same features for customization. These should include:
**0. Title**
**1. Image (which appears at the top of the section's landing page)**
_This is an image selection from the image gallery and allows for single image upload_
![image](https://user-images.githubusercontent.com/74552270/108703366-91771780-751b-11eb-958f-1e510cb129a5.png)

**2. Com

[2021-02-22 12:06] lauriemarkle opened #19 "As CMS editor, I can add and remove footer pages"
Footer pages may include terms & conditions, about IoGT, etc and are pages that appear on the site footer. They should be fully editable pages, as articles.

[2021-02-22 12:25] lauriemarkle opened #20 "As CMS Editor I can move content pieces (sub-sections, articles, polls, surveys, quizzes) on the site"
The current reorganization feature in the CMS works well. CMS editors can select any content from the site and move it and all subordinate pages:
![image](https://user-images.githubusercontent.com/74552270/108708075-02213280-7522-11eb-87dc-20cf42729c56.png)
When "Move" is selected, you're taken to a page where you can navigate to the parent section or sub-section that you want to move content to.

[2021-02-23 13:31] isedwards opened #21 "Implement language translation and investigate improved tools"
Site administrator resposible to translation of overall site.

Country office responsible for local translation of content.

Investigate user interface tools for working with translations, e.g. wagtail-localize.org

[2021-02-23 13:35] isedwards opened #22 "Implementation of analytics"
Implement Google Analytics and/or investigate a suitable alternative.

Currently access to Google Analytics is not giving updated/full information.

Some results are not currently appearing in Google Analytics and are being manually added to data studio.

- Frequently visited sections
- Types device
- User time on site
- Bounce rate

RapidPro is is using PowerBI.

There is a Google Analytics -> PB

[2021-02-23 13:46] isedwards opened #23 "Publish content to multiple sites"
- Automated process to make content available in single tentant sites

Requirement: Develop content and ready in multiple languages, then push Spanish version to Spain, Mexico etc. (in draft - in an orphaned section because countries organise content differently). The pushed version is a copy and doesn't make it's way back to the central editor, it can be edited/customised locally.

- Multi tentan

[2021-02-23 13:47] isedwards opened #24 "Investigate RapidPro integration"

[2021-02-24 11:11] lauriemarkle opened #25 "As CMS editor, I can add / edit / save to draft / publish articles with robust features for promotion."
As CMS editor,
I can add articles to any parent section or sub-section. **Article features which currently exist and should remain include:**
- [x] Title
- [x] Feature Image
- [ ] Tags
- [x] Body (with pre-formatted features for lists, numbered lists, text, images, media, and page links)
- [x] Commenting Settings
- [ ] Recommended Articles
- ~~[ ] Recommended Section~~ (Edit by @dannyparsons: Not

[2021-02-24 11:16] lauriemarkle opened #26 "As CMS Editor I can reorganize site content"
This includes both the reorganization of articles, sub-sections, banners, and footers to appear in a specific order (currently done via drag-and-drop within the parent section) AND also includes moving content from one section or sub-section to another. Content moving is fine as-is, but in v3.0 and beyond it would be good to see a content hierarchy or tree within the CMS that allows for easier dra

[2021-02-24 11:17] lauriemarkle opened #27 "As a front end visitor, I can create and edit my account"

[2021-02-24 11:17] lauriemarkle opened #28 "As a CMS editor, I can bulk upload users and assign them to a custom user group"

[2021-02-24 11:19] lauriemarkle opened #29 "As a CMS editor, I can add, edit and remove an individual user"
All existing features remain.
![image](https://user-images.githubusercontent.com/74552270/108993108-29573b80-76ab-11eb-883e-076e27d2f0f8.png)
In v3.0 and beyond it would be great to see information links next to each user group that provides a summary of the user group for the CMS editor to quickly understand user permissions assigned.
![image](https://user-images.githubusercontent.com/74552270/10

[2021-02-24 11:20] lauriemarkle opened #30 "As a site admin, I can set data cleaning / data dump schedules for user profiles & survey data"
This issue requires a conversation to hash out more.

[2021-02-24 11:35] lauriemarkle opened #31 "As site administrator I can view the total number of users registered, users by group and export a list of users with key profile information"
Note that currently you can export users but it goes to a predetermined email address which is now defunct. Users should be able to download to their device.

[2021-02-24 11:42] lauriemarkle opened #32 "As CMS Admin I can manage site settings"
Existing Features to Keep:
- Logo editing
- Checkbox to show only translated pages
- GA and FB Analytics Links
- Content Rotation Settings
- Social Media Footer Page Links
- Social Media Article Sharing Buttons

Unsure about Existing Features / Need to Investigate:
- Article tag settings
- Service directory API settings

Features to Add:
- Color Scheme

[2021-02-24 12:07] lauriemarkle opened #33 "As a front-end user I can post comments when I'm logged in and reply to other users' comments. I can like comments."
This feature already exists, but the UX is not great: comments should appear align left v align right so that users can see what's a comment v what's a reply.

New feature: liking comments. Comments on smart phones and above can be viewed by most likes or most recent.

In v3.0 and beyond, users should be able to upvote / downvote and like comments.

[2021-02-24 12:08] lauriemarkle opened #34 "As a front-end user, I can report comments that violate community policies"
Community members can self-moderate by reporting inappropriate comments.
Reported comments appear as an alert in the CMS.

[2021-02-24 12:09] lauriemarkle opened #35 "As a comment moderator, I can review comments, export comments, filter comments and provide custom or canned responses"

[2021-02-24 12:13] lauriemarkle opened #36 "Comments are moderated w/ AI to protect users"

[2021-02-24 12:16] lauriemarkle opened #37 "Community Moderator user group allows enrolled front-end users to assist with comment moderation."
They will have the ability to delete or respond to users with canned responses (developed by CMS editors on backend). In their profile, they can view the total number of comments moderated (total and in the last week).

[2021-02-24 12:19] lauriemarkle opened #38 "As a CMS Editor, I can configure quizzes for front-end users to test their knowledge"
Formatted similarly to surveys but with the option to identify correct responses for positive number, number, date, drop-down, and radio button fields. The quiz feature comes with an automated feedback loop for users sharing their score. In the CMS, editors can craft messages for when the user answers incorrectly.

[2021-03-04 16:29] isedwards commented on #1
In addition - initially the API should only be enabled in dev and test environments

[2021-03-08 08:27] isedwards opened #41 "Use initial design from IoGT 3 prototype in version 2 Wagtail site"
Using Django/Wagtail [templating](https://docs.wagtail.io/en/stable/topics/writing_templates.html) and [template inheritance](https://docs.djangoproject.com/en/3.1/ref/templates/language/#template-inheritance) create a `base.html` template that includes the header and footer sections that are common to all pages.

The new design is currently online at https://iogt-pwa.web.app/

Corresponding code

[2021-03-16 04:15] usodhi opened #44 "Features to Keep in New CMS"
**Definitely keep**:
- [x] Settings > Redirect - you can redirect paths to specific sites or pages (e.g. redirect /new to a specific poll) https://docs.wagtail.io/en/stable/editor_manual/managing_redirects.html
- [ ] Settings > Site permissions - looks like you can modify access for users to the sites specified in Settings > Sites (mentioned below), looks similar to #16. Feature mentioned in #17
-

[2021-03-16 04:16] usodhi commented on #17
Note: the features in the original issue (personae and site permissions) probably shouldn't be removed yet - addressed in #44

Features to definitely drop:
Settings > Timezone object
Article > Promote > Common page configuration

Features to probably drop unless we figure anything out about them (and don't seem to be high priority):
CMS landing page > Personalised pages - couldn't find anything ab

[2021-03-18 09:42] isedwards opened #46 "Use Wagtail 2.11.x (Long Term Support release)"
Modify the wagtail version in `requirements.txt` to use the [Wagtail Long Term Support (LTS)](https://github.com/wagtail/wagtail/wiki/Release-schedule) release.

This is a minor code change, but it requires all developers to delete their local test database `db.sqlite3` (so that Wagtail migrations can only be applied up to the LTS release) - and also update or delete their virtual environment.

Th

[2021-03-31 10:46] istride commented on #46
I think that we ought to do this sooner rather than later to avoid unintentionally relying on a feature or third-party app that isn't supported by, or backwards-compatible with the LTS release. Any upheaval is only likely to be worse the later we leave this.

@isedwards any objection to doing this now, before anything else?

[2021-03-31 11:15] isedwards commented on #46
Agreed. We should all delete our local development databases and run `migrate` and `createsuperuser` again when this is merged.

In #50 we should probably change
`wagtailmenus>=3.0.2` to `wagtailmenus~=3.0` to make sure that a future breaking change in `wagtailmenus` doesn't accidentally get rolled out to production (we're seeing this a lot with the current IoGT site).

See [PEP440 compatible rele

[2021-03-31 11:39] isedwards commented on #46
@istride could you also remove Django from our `requirements.txt` (wagtail will manage this dependency including the required version)?

[2021-04-08 15:26] #46 closed

[2021-04-09 14:20] #41 closed

[2021-04-14 16:21] istride commented on #21
# wagtail-localize
Seems quite immature because not comprehensively documented.
Does a fairly good job of extracting strings that need to be translated, but there is an [issue regarding ListBlocks][1].
Fields that do no need translation were also extracted; could not find a way to ignore certain fields (missing documentation).
Allows page content and templates to be translated.
Allows PO files to

[2021-04-14 17:01] istride commented on #21
Implementation branch: [wip/wagtail-localize-test](https://github.com/unicef/iogt/tree/wip/wagtail-localize-test)
Shared git repo for sync with Pontoon: [ianstride-iogt/wagtail-localize-test](https://github.com/ianstride-iogt/wagtail-localize-test)

[2021-04-20 17:14] istride commented on #16
Wagtail feature on all `Page` objects, which remains unchanged in the latest LTS version.

[2021-04-21 12:53] istride opened #55 "User account registration / management"
Visitors of IoGT sites should be able to sign-up for an account to allow for personalisation and community involvement.

- Visitors should be able to create a user account for themselves.
- As part of the sign-up process visitors may be asked a set of questions, which may be different for each site, and may be optional or mandatory.
- Users should be able to change details of their account (name,

[2021-04-21 12:56] istride commented on #55
This issue covers #27 and #10

[2021-04-21 13:45] istride opened #56 "Comments"
Registered users should be allowed to comment on content.

- Commenting can be enabled or disabled on any page.
- Users can post comments.
- Users can reply to comments.
- Users can 'like' comments.
- Moderators can review, filter and export comments.
- Moderators can provide custom or canned responses to comments.
- Community moderators can flag inappropriate comments.
- Moderators should be aler

[2021-04-21 13:47] istride commented on #56
Covers #33 , #34 , #35 , and #37

[2021-04-21 14:26] istride opened #57 "Basic search"
Users should be able to search for content.

Users can enter search terms in input box in the site header.
Users are shown a page of results.
Search index should use Elasticsearch as a backend.

[2021-04-29 08:32] tomdyson commented on #21
Hey @istride and @isedwards - you're right that wagtail-localize is new and needs better documentation, but it's in production on some large sites. We'd love to work with you to make it better. Ping me (`@tom`) on the Wagtail Slack - https://wagtail.io/slack - if I can help.

[2021-04-29 08:55] isedwards commented on #21
Hi @tomdyson - thank you for getting in touch, great to hear from you.

We're currently using just wagtail-localize. We have an issue when using wagtail-localize with Wagtail multi-site: https://github.com/wagtail/wagtail-localize/discussions/380

As a temporary workaround I'm considering overriding the wagtail-localize template for `/admin/locales/<id>/` to hide the option to "sync from" (otherwi

[2021-04-29 09:25] isedwards commented on #56
Before commencing development it would be useful to discuss the proposed approach and whether it may be useful to make use of [django-contrib-comments](https://pypi.org/project/django-contrib-comments/).

There are two forks of the original Wagtail packages for [intergration with django-contrib-comments](https://djangopackages.org/grids/g/wagtail-comments/) and neither has a recent release (althou

[2021-04-29 09:29] isedwards opened #59 "Improvements to IoGT design"
- [ ] Tidy up current CSS for different media types
- [ ] Work with client to improve the overall design
- [ ] Ensure that navigation works for users who have JavaScript disabled (e.g. users of some [feature phones](https://en.wikipedia.org/wiki/Feature_phone))

[2021-04-29 09:31] tomdyson commented on #21
Ah, thanks - I'd missed your discussion with @kaedroho in the localize repo.

[2021-04-29 09:59] kaedroho commented on #21
One quick and easy way to do this would be to swap ``wagtail_localize.locales`` with ``wagtail.locales`` in ``INSTALLED_APPS``. These apps just provide a UI for the ``wagtailcore.Locale`` model, the only difference is the "Sync from" field.

[2021-05-01 06:55] isedwards opened #60 "Draft Sections and Articles are shown in navigation"
Sections and Articles that have not been published are currently being shown on the home page and in the navigation (but a 404 error is given when the article is clicked since the Article has not been published).

[2021-05-03 08:27] isedwards commented on #55
This issue may also link to the need to implement surveys - Although user registration will implement a set of standard 'hard-coded' questions for all sites, but it would be useful for each site to be able to require a registration survey to be completed as part of the registration process where the survey questions are not hard-coded (see [form builder](https://docs.wagtail.io/en/stable/reference

[2021-05-05 06:50] ehmadzubair commented on #57
@istride other than the search functionality of the ticket, I'm planning to add a `docker-compose.yml` file that spins up the project and an Elasticsearch container. This will help us keep the initial setup simple. Thoughts?

[2021-05-05 08:27] isedwards commented on #57
@ehmadzubair can we keep Elasticsearch as an optional capability so that it is easy to deploy to dev/test without it when required?

[2021-05-05 10:10] istride commented on #57
@ehmadzubair yes, I think docker compose would be useful for replicating a production-like configuration in development.

[2021-05-05 10:38] MySecondLanguage commented on #56
@isedwards  using django-contrib-comments lib to this wagtail project can be a wrong decisions, coz, you will get in trouble to custom wagtail admin for moderator.

So custom solution would be good idea.

As they mentioned following functionality:
- 1.  Commenting can be enabled or disabled on any page.
- 2. Users can post comments.
- 3. Users can reply to comments.
- 4. Users can 'like' comments.

[2021-05-05 11:35] istride commented on #56
@MySecondLanguage would you elaborate on what kind of trouble you expect from using django_contrib_comments?

[2021-05-05 20:08] MySecondLanguage commented on #56
@istride  You know you can customize wagtail admin from directly models class, like you can implement editing panel fully customized based on your situation. in this case, you will not get such privileged very easily if you use django_contribe_comments. It may be possible in some other way but that's will not be straight forward solution.

I admit django_contrib_comments is great solution if you u

[2021-05-05 20:12] MySecondLanguage commented on #56
@istride  You may be have different approach. by the way, If you want it strictly to use, i will use it as i am hired already for this issue. Thank You

[2021-05-06 11:17] MySecondLanguage commented on #56
![image](https://user-images.githubusercontent.com/45510606/117289859-ef669a80-ae8e-11eb-9420-7f0161ead1ec.png)
Can you please tell me which one is reply form?

[2021-05-06 15:33] istride commented on #56
@MySecondLanguage I don't have strong opinions about how this is implemented, however, what is important is that it be easy to maintain. If you think this is best achieved by avoiding existing packages and implementing something from scratch, then I'm happy to go along with that.

With regard to the "reply form", I can see a link that says, "Click here to reply". I think the intention is that the

[2021-05-07 10:40] dannyparsons commented on #56
@MySecondLanguage Are you saying that some of the moderator requirements below are not possible with `django-contrib-comments`? We would prefer to use something already made for maintainability reasons, but we can consider implementing something from scratch if there's a good reason, as @istride mentioned.

[2021-05-07 16:51] istride opened #65 "Design clean-up"
The existing markup and styling was copied over from Preact SPA that was developed by fairly inexperienced developers. Before further development of the front-end, it would be beneficial to review the existing markup and styles. Some deficiencies have been identified already:

* HTML duplicated to cater for different device types
* Inconsistent media queries, targeting slightly different device br

[2021-05-10 17:30] dannyparsons commented on #21
I've investigated the link to CrowdIn with @istride. It can connect to a GitHub repo in the same way as Pontoon therefore it should also work with wagtail-localize-git.

I forked the test GitHub repo that @istride set up containing the translation files from Wagtail and connected it to my CrowdIn account. CrowdIn correctly read the strings to translate and detected the existing French translations

[2021-05-10 17:35] dannyparsons commented on #21
Also, is there a preference between Pontoon and CrowdIn? CrowdIn has good crowd sourced translations and allows any user to suggestion translations to open projects. It is free for not-for-profit organisations. I believe Pontoon is open source and requires hosting yourself. This means any users will need to sign up specifically for your installation of Pontoon in order to contribute to translation

[2021-05-11 04:00] MySecondLanguage commented on #56
@dannyparsons  I have implemented from scratch to get benefited by wagtail admin. if you use djanngo-contrib-comment, we will be in trouble customizing editing panel for wagtail.

[2021-05-11 04:00] MySecondLanguage commented on #56
Here you go for the PR: https://github.com/unicef/iogt/pull/66

Feel free to let me know if there is any issue. Thank You

[2021-05-11 13:02] dannyparsons commented on #65
Each 'app' could contain its own css and html templates. At the moment, the relevant paths are:

https://github.com/unicef/iogt/tree/develop/iogt/static/css
https://github.com/unicef/iogt/tree/develop/home/static/css
https://github.com/unicef/iogt/tree/develop/iogt/templates
https://github.com/unicef/iogt/tree/develop/home/templates
https://github.com/unicef/iogt/tree/develop/search/templates

Lit

[2021-05-11 18:20] ehmadzubair commented on #55
Also, I don't feel very strongly about making the registration form a FormBuilder subclass. Perhaps having the post survey questions as an add-on step is a better approach. That way, there's separation of concern and we don't tweak the "standard" approach significantly. Thoughts?

[2021-05-12 12:08] ehmadzubair commented on #55
Yes - @dannyparsons mentioned it. I did some research on registration packages. [django-registration](https://github.com/macropin/django-registration) and [django-allauth](https://github.com/pennersr/django-allauth) stood out.

Here are my findings:
- Both the packages are flexible for customisation
- Both the packages will fulfil our needs (even if we plan on adding two step registration with ema

[2021-05-12 15:42] istride commented on #55
Let's proceed with djang-allauth, in that case. I think the extra features it provides is worth the additional dependencies it requires.

[2021-05-12 17:58] istride opened #67 "Offline access for users with intermittent network access"
For users with intermittent network access it would be very useful to download content for offline use. Users with devices/browsers which implement features of Progressive Web Applications (PWA) could take advantage of Service Workers to enable this.

We would like to offer users a choice of how much content to cache for offline use:

- bare minimum: core assets + article text (no article images)

[2021-05-12 18:06] istride commented on #67
I have investigated [django-pwa](https://github.com/silviolleite/django-pwa), and while it does help to set up a web manifest and very basic service worker, it does not really attempt to provide an offline mode. We would need to develop the service worker ourselves, and for that it might be helpful to use [Workbox](https://developers.google.com/web/tools/workbox). A very intriguing feature of Work

[2021-05-13 11:31] dannyparsons commented on #24
@geoo89 here is the issue on RapidPro which you may work on.

[2021-05-13 13:32] istride commented on #67
Possible 4th option may be to cache nothing at all. This may not be useful to end-users, but could be useful for debugging.

[2021-05-15 01:31] ehmadzubair commented on #55
@istride @dannyparsons Okay to assume that we'll only be needing a one-step Sign Up? i.e No email verification?

[2021-05-15 01:38] ehmadzubair commented on #55
There are a lot of other settings that can be done to tailor the registration/login behaviour. Can either one of you take a look [here](https://django-allauth.readthedocs.io/en/latest/configuration.html) and let me know if we need to edit something?

[2021-05-16 20:18] dannyparsons commented on #55
@ehmadzubair Sorry for not replying before you got to implementing. The initial sign up form should have only: **username**, **display name**, **4-digit PIN**. Other information e.g. email may be part of the post-registration questions. So no email required, no verification etc.

See here for the previous version https://ke.goodinternet.org/profiles/register/ So the same fields as here except Gend

[2021-05-16 20:25] ehmadzubair commented on #55
@dannyparsons No worries - I'll update the fields hopefully tomorrow.

[2021-05-17 09:44] ehmadzubair commented on #55
@istride do you want to get on a call to discuss Post Registration form?

[2021-05-17 11:39] dannyparsons commented on #27
How should "Forgot my password/PIN" work? In the current sites, you enter your username and it says there is a security question to answer but nothing appears. When you click "Forgot PIN" there is an error.

![image](https://user-images.githubusercontent.com/11214914/118482084-2c8f2000-b70c-11eb-9921-5100bd7e8710.png)

Some options:
- A security question could be added to the registration and used

[2021-05-17 12:15] lauriemarkle commented on #27
Sounds like a good idea. Let's walk through the whole user registration
process. I think it's 80% of the way there.

On Mon, May 17, 2021, 2:40 PM Danny Parsons ***@***.***>
wrote:

[2021-05-18 09:57] ehmadzubair commented on #55
Updates from the meeting between me and @istride :
- Continue on the user registration and have a custom user
- Build mechanism for locking the user out to a screen (which hosts the survey) if their account isn't activated
- Add an Accept Terms & Conditions checkbox
- Assemble the knowledge around surveys and polls and then create a ticket for that
- Make post registration a special survey
- Use t

[2021-05-18 10:20] istride commented on #55
@ehmadzubair v1 IoGT code: https://github.com/unicef/molo-iogt
Code for the existing registration form: https://github.com/praekeltfoundation/molo/blob/develop/molo/profiles/forms.py#L127

[2021-05-20 07:38] ehmadzubair commented on #31
I'm going to take up this ticket. @lauriemarkle can you point me to the existing exported file and/or the credentials where I can view the existing functionality?

Can you also mention the final format that you're expecting?

cc: @dannyparsons

[2021-05-20 07:40] ehmadzubair commented on #28
@lauriemarkle @dannyparsons are there any more details to this ticket that need to be done? Can you point me to the existing functionality (if it exists)?

[2021-05-20 09:36] ehmadzubair commented on #28
@dannyparsons @istride can you help answer these questions?

1. Can all editors do this? or does this need to be behind a permission?
2. When bulk creating users, will we provide their passwords in the bulk uploaded file? I would strongly advise against it. I think we should send them a link (sms/email) from where they can complete their signup. Open to other clever approaches to this too.
3. When

[2021-05-20 09:38] lauriemarkle commented on #28
Hi Ehmad,
Do you have access to a current version of IoGT? If so, please take a look
at Settings > Groups. This functionality needs to remain as-is.. Settings >
Users remains the same EXCEPT there's a need to bulk import users. So if
you visit Settings > Users, you'll see a button (+ Add User) in top right
of the page. Here we want 2 buttons: + Add User remains as-is, but another
button under it +

[2021-05-20 09:44] lauriemarkle commented on #28
Hi Ehmad,
Answers inline below:

   1. Can all editors do this? or does this need to be behind a permission?
   No. The current editor user group can only edit content on the site.
   This is an administrator user role function only.[image: image.png]
   2. When bulk creating users, will we provide their passwords in the bulk
   uploaded file? I would strongly advise against it. I think we should

[2021-05-20 09:45] lauriemarkle commented on #31
Can you please send me your email address so I can make an admin login for
you? You can share with me at ***@***.***

On Thu, May 20, 2021 at 10:38 AM Ehmad Zubair ***@***.***>
wrote:

--

Laurie Markle

[2021-05-20 09:55] lauriemarkle commented on #28
![image](https://user-images.githubusercontent.com/74552270/118958982-8f7df280-b96a-11eb-9207-a512f24f1b48.png)
@ehmadzubair  if you can please email me your email address to lmarkle@unicef.org I will set up an admin for you on a demo site so you can see these functionalities up close.

[2021-05-20 09:57] ehmadzubair commented on #28
@lauriemarkle sent you an email

[2021-05-21 09:58] djangodeveloper96 commented on #5
`the option to require login or accept anonymous responses`
should we apply this opinion for all polls or able to set for each polls?
@dannyparsons

[2021-05-21 10:23] dannyparsons commented on #5
It should be an option for each poll. e.g. a checkbox for "Require login"

[2021-05-21 11:59] dannyparsons commented on #2
@lauriemarkle Do you have ideas of how banners might look on larger devices e.g. desktop? I would think banners going across the full width of a large screen might not look great.

We could discuss this in our meetings next week. We also have a designer on board who could come up with some design ideas if that would be useful.

[2021-05-21 12:42] dannyparsons commented on #8
possible links to PWA/offline access #67 and implementation of banners #2

[2021-05-21 15:57] djangodeveloper96 commented on #5
`the ability to format the confirmation page to include text ,images, media, and links as an article.`

To implement this feature, I think we need to add media field to the field type.

![image](https://user-images.githubusercontent.com/84460435/119165565-33ad8980-ba90-11eb-9a10-db6b64d7fdd2.png)

Then users can add image in their survey.

cc:  @dannyparsons

[2021-05-21 16:15] dannyparsons commented on #5
Images and media are not for the field type. Users do not need to upload images or media.

Images and media are needed to be added by CMS editors for the confirmation page displayed after completing a survey.

e.g. thank you for completing the survey [image] [media] [link]

[2021-05-21 16:26] djangodeveloper96 commented on #5
Understood.

[2021-05-23 16:05] dannyparsons commented on #6
Allow anonymous submission should be the default.

[2021-05-23 16:13] dannyparsons commented on #2
Rotating banners is one option.

[2021-05-23 16:22] dannyparsons commented on #7
In the Surveys section of Wagtail ideally it displays the total number of responses at the top when viewing all responses.

[2021-05-23 16:40] geoo89 commented on #24
Updates after some discussions with David:

RapidPro implements various [channel handlers](https://github.com/nyaruka/courier/tree/main/handlers) (e.g. for Telegram, WhatsApp, Firebase) to communicate with different services. Communication is done via HTTP requests, with a fixed URL for most (all?) services (e.g. https://api.telegram.org for Telegram). This means we cannot directly communicate bet

[2021-05-23 16:53] dannyparsons commented on #16
Tested and working in current development version.

[2021-05-23 17:24] dannyparsons commented on #11
Tested and working in current dev version with the same functionality as in v1.

[2021-05-23 17:24] #11 closed

[2021-05-23 17:54] dannyparsons commented on #15
Section and any number of sub sections with content at any position is available.

@lauriemarkle Could you explain how the process of how you currently "orphan" content e.g. an article such that it's not associated to any section? Would this just be a child of the Home page directly?

[2021-05-23 18:34] dannyparsons commented on #20
Tested and the current dev version has the same functionalities as described for v1.

An improved drag-and-drop interface could also be investigated as an enhancement to this.

[2021-05-24 09:46] dannyparsons commented on #4
@isedwards Did you manage to investigate how this is done in v1 sites so that we can determine how to replicate this feature?

[2021-05-24 10:27] isedwards commented on #4
I was assuming we would rewrite urls dynamically using Django [middleware](https://docs.djangoproject.com/en/3.2/topics/http/middleware/), but it’s possible there may be a better way to approach this. I’ll take a look at the previous implementation later today.

[2021-05-24 10:48] ehmadzubair commented on #25
@istride do you have some background on this ticket? If yes, can we get on a call to discuss this?

[2021-05-24 10:57] dannyparsons commented on #25
@ehmadzubair I can go through this with you from the CMS editor perspective and @istride may follow up with technical details.

[2021-05-24 13:29] dannyparsons opened #75 "Customisable homepage"
The homepage should be editable to be able to choose which articles/surveys/polls/quizzes appear on the homepage.

Currently this is done through editing the article by going to Promote > FEATURING IN HOMEPAGE

Instead, the desired functionality is for this to be done by editing the homepage and not by having to go to each individual article. Selecting items for the homepage should be done in a si

[2021-05-24 15:52] #55 closed

[2021-05-24 15:58] lauriemarkle commented on #4
The current model is an image file which cannot be translated.

On Mon, May 24, 2021, 1:27 PM Ian Edwards ***@***.***> wrote:

[2021-05-24 16:09] dannyparsons commented on #25
@lauriemarkle Could you give an example of _Style code should be able to be overwritten in the body_? Does this just mean you can override the style of text in the body with HTML?

[2021-05-25 08:47] isedwards commented on #4
Laurie - could you give some examples from the current Kenya site where you have created links to external sites?  Are the external links always created as part of a banner or are there other places where you include external links?

[2021-05-25 09:57] istride commented on #21
A method for translating that involves spreadsheets may be preferred, initially, as it is closer to the existing process. Anything we can do to automate this kind f process would be very helpful. In that case, [poxls](https://pypi.org/project/poxls/), as identified by @dannyparsons , may be useful.

[2021-05-25 10:57] dannyparsons commented on #4
Here's two examples:
- https://sa.goodinternet.org/sections/who-health-worker-covax-Text/module-2b/ - text link "Click here to learn more about EUL" to an external site
- https://zw.goodinternet.org/sections/youth/act-climate/climate-change-chatbot/ - text link "Here" to go to WhatsApp

I noticed that the "Share on Twitter" button does not go through the same alert message.

[2021-05-26 09:23] dannyparsons commented on #22
Agreed with Laurie that we will stick with Google Analytics for v2 and investigate and look at introducing PowerBI from v2.1.

[2021-05-26 11:37] ehmadzubair commented on #56
Is it safe to assume that comments will only be for Articles and not Surveys, Quizzes, Sections etc.?

@dannyparsons @volloholic

[2021-05-27 07:33] ehmadzubair commented on #56
Initial research on the ticket suggests that there are two ways to do this:
1. Fork https://github.com/joyider/wagtail_comments_xtd and add functionality that we need, for example:
- Report
- Add Moderator Reply
- Canned responses
- Import/Export

I feel that the unicef/wagtail_comments_xtd package could end up being the de-facto comments package for Wagtail

**Note: I'm not sure why this package

[2021-05-27 14:03] lauriemarkle commented on #56
Safe to assume for articles only. Login *should *be required to login, but
can be unchecked as a requirement in site settings to enable anonymous
comments. I would think replies would work like a Facebook reply, where all
replies associated with the original post sit under each other.

On Wed, May 26, 2021 at 2:37 PM Ehmad Zubair ***@***.***>
wrote:

--

Laurie Markle

[2021-05-27 14:20] dannyparsons commented on #56
Thanks. Facebook is a good model to follow here. It allows for one level of replies which I think is sufficient and clearest from a user experience perspective.

[2021-05-27 14:21] dannyparsons commented on #32
Also:
- Enable anonymous comments. Default unchecked i.e. login required to comment

[2021-05-27 15:25] sheralim012 commented on #75
I'll be working on this.

CC: @ehmadzubair

[2021-05-27 17:20] dannyparsons commented on #75
@sheralim012 Thanks for taking this up. We agreed in a meeting today that the homepage needs the following fields:

1. Navigation items: a collection of articles/surveys/polls/quizzes to feature on the navigation bar (green bar below). The order can be determined. It would be good to have some way for this to be all top level sections by default. Possibly a checkbox for "All top level sections". I

[2021-05-27 17:22] dannyparsons commented on #15
This is done by creating a draft section called "Orphaned" and adding articles as children to the draft section. It's important that this feature is still available.

[2021-05-28 05:48] ehmadzubair opened #78 "Adding group restriction to Page(s) results in an infinite loop"
This issue is the result of an open bug https://github.com/wagtail/wagtail/issues/4297 in the Wagtail project. It's very strange how this hasn't been closed yet.

Thankfully, there is a workaround on the same link for this.

[2021-05-28 05:49] ehmadzubair commented on #78
@dannyparsons I'm going to add the workaround in a PR. Do you think we should also 'not show' articles that are restricted to the user because of their group?

[2021-05-28 11:04] dannyparsons commented on #78
What do you mean by 'not show'? I think links to articles that are visible to everyone is needed, because a user may not be logged in all the time but would have access if they login.

[2021-05-28 14:19] istride commented on #78
@ehmadzubair have you managed to reproduce this issue in this project? There hasn't been any progress on the Wagtail issue for 2 years, so I wonder whether it is still a problem.

If it is still an issue, I wonder whether we ought to support the fix with some automated testing to make sure it does what we expect.

[2021-05-28 14:20] ehmadzubair commented on #78
Yes - I was able to reproduce it. Let me add the test cases for this bug too.

[2021-05-28 15:47] dannyparsons commented on #8
@lauriemarkle Did we say we would have a file size limit that would be set in Site Settings? Possibly instead of/as well as the warning? I remember you gave an example of a country where they wanted to keep a fixed limit to comply with agreements with mobile network operators.

[2021-05-28 15:52] lauriemarkle commented on #8
Just a warning message:
The file you have uploaded exceeds 9mb. This will prohibit access to the
file in a low bandwidth setting, may restrict feature phone access, or
violate your mobile network operator agreements. To reduce file size, try
resizing and compressing your file.

On Fri, May 28, 2021, 6:47 PM Danny Parsons ***@***.***>
wrote:

[2021-05-28 16:08] dannyparsons commented on #75
Update: Featured content should also include the ability to add Media.

[2021-05-28 16:17] dannyparsons commented on #25
@lauriemarkle Are Recommended Sections currently used and if so, it is desirable to be separate from Recommended Articles or would a single "Recommended Content" field that allows articles and sections in any order be preferable?

[2021-05-30 17:00] sheralim012 commented on #75
@dannyparsons could you please add some details about banners implementation(as far as I know these will have images and links for the carousel). Also once media support PR gets merged I'll look into adding media as featured content.

[2021-05-31 10:23] dannyparsons commented on #25
Response from Laurie:

[2021-05-31 11:27] ehmadzubair commented on #56
In addition to the requirements above, this feature also needs to have a comments list page where comments can be paginated. The first page of the comments will show up on the Article page. If the user wants to see all the comments, they will be navigated to a comments list page.

[2021-05-31 11:37] dannyparsons commented on #56
Agreed, this is consistent with current v1 sites.

[2021-05-31 14:18] dannyparsons commented on #75
Yes banners are basically images that will appear at the top of the homepage with a link. So the banner definition needs:

- Title (not shown in the front end)
- Banner Image
- Link Page (choose a page to link to)
- External Link (enter a URL)

Only one of Link Page and External Link should be entered. This determines what you go when you click the banner.

see e.g. https://rke-iogt.unicef.io/admi

[2021-06-01 10:27] ehmadzubair commented on #56
Regarding

How do we want to alert the moderators? the library we're using has the functionality to send email alerts.

@dannyparsons @istride

[2021-06-01 10:37] dannyparsons commented on #56
From here: https://github.com/unicef/iogt/issues/34#issue-815417719

So I think a way of viewing all flagged comments in the CMS would be sufficient. Email notification could be an optional additional way as well, but a moderator would have to turn this on.

[2021-06-01 10:59] dannyparsons commented on #56
Also would be nice to have a "My Comments" page where you can see all the comments you have made.

[2021-06-01 11:59] dannyparsons commented on #38
@lauriemarkle Is this an example of something that can be turned into a quiz? https://www.internetofgoodthings.org/section/parents-caregivers/nutrition-and-breastfeeding/breastfeeding-quiz/

[2021-06-01 12:12] lauriemarkle commented on #38
Yes - also this:
https://www.internetofgoodthings.org/section/emergency-information/about-covid-19/take-corona-quiz/

On Tue, Jun 1, 2021 at 2:59 PM Danny Parsons ***@***.***>
wrote:

--

Laurie Markle

[2021-06-01 14:43] dannyparsons opened #82 "As a CMS Editor I can add a single featured content to a Section"
Sections should have a "Featured Content" field which allows for the selection of one page (article, survey, poll, quiz etc.) that is within that section. This is optional, a section doesn't have to have a featured content.

On the site, the featured content would then be displayed at the top of the section page before anything else (subsections, child articles).

[2021-06-01 14:51] dannyparsons commented on #82
The section page should also have the following structure:

- 1 Featured Content (article, survey, poll, quiz) - if set in the CMS
- The list of sub-sections - clickable to go to those subsections
- The list of any direct child pages of the section

[2021-06-01 14:58] dannyparsons commented on #25
A use for article tags is that recent article tags could be used as the shortcut things to search by. So good to have these in place.

[2021-06-01 15:15] dannyparsons opened #83 "Search results are grouped by page types"
When a front-end user searches the site, the search results are displayed in groups based on page types:

1. Surveys/polls/quizzes
2. Articles

i.e. as below

![image](https://user-images.githubusercontent.com/11214914/120347824-8559dd80-c2f4-11eb-9143-2f159e7b2592.png)

[2021-06-01 16:09] sheralim012 commented on #32
@dannyparsons could you please add some details about color scheme feature (is it like pair of name and hexcode?)

[2021-06-01 16:30] istride commented on #75
Are we sure we want all banners at the top of the homepage? In my mind, the featured content would be a single list that could include banners as well as articles and other pages, and it would be an editorial decision to keep all the banners at the top, or to intersperse them with other items on the homepage.

Another concern I have is that banners need to be subject to access control, so that an

[2021-06-01 16:35] istride commented on #25
@dannyparsons does that mean that tags will be an admin-only feature? do we need to consider their use by visitors of the site?

[2021-06-01 17:02] dannyparsons commented on #32
This will be selecting colours that relate to the design of the site. I think we need to get further on the site design before we can say exactly what's needed here. So leave for now and it can be defined later.

[2021-06-01 17:08] dannyparsons commented on #75
We discussed both options of single featured content vs banners + featured content and Laurie felt banners + featured content was best to have to keep it simple for CMS editors and also didn't feel banners not at the top was that important.

Can we have access control with banners as snippets? Or should they be implemented another way? They also need to be translatable. I think all the same is tru

[2021-06-01 17:14] dannyparsons commented on #25
The tags for articles would be set by the CMS admin. When a new article is published one idea is that the tags for that page appear as "Trending terms" when a user does a search that could be selected, like below. The idea being that it makes new articles easier to search for. It's just an idea at this stage but I think there will be uses for tags in some way so good to keep this feature in v2.

!

[2021-06-02 08:04] dannyparsons commented on #82
Yes it's a similar idea. I believe Bartosz was assigned this task this morning, but I'm not sure when he plans to get to it.

[2021-06-02 12:47] isedwards commented on #22
@lauriemarkle - The old IoGT sites use Google's original Universal Analytics (UA).  Are you happy for us to swtich over to the new version 4 of Google Analytics instead?  The latest version takes a modified approach, so the metrics are not identical - but now seems like a very good time to switch over.

Version 4 tracks all events for each user on the website instead of creating a summary for a us

[2021-06-02 13:24] #8 closed

[2021-06-02 17:18] dannyparsons commented on #75
We agreed on banners and footers being implemented as pages instead of snippets so that they can be defined for each site of the multisite.

[2021-06-02 19:10] lauriemarkle commented on #22
Hi Ian,
Yes, let's make the switch. I agree that now is the right time. The
challenge will be the loss of CO dashboards, but I think there's a remedy.

We get access to a Facebook Partners Portal for Free Basics. It incorrectly
tracks traffic, so I don't use it for this purpose. It only is used to map
IoGT CO URLs with Free Basics portals globally. This should not be
impacted.

On Wed, Jun 2, 2021

[2021-06-03 09:54] isedwards commented on #32
@lauriemarkle - Could you clarify which of the site settings above should be global (applying to all sites) and which are specific to each individual site?

I think we will probably move to using a single (global) Google tracking ID that is used for all sites. Within Google Analytics we'll be able to break down the analysis by subdomain (i.e. the specific site that the user is visiting).

It's pos

[2021-06-03 09:58] lauriemarkle commented on #32
@isedwards
Only GA and FB Analytics Links should be global. And if we're going with the format you've just described, may be reasonable to remove them all together. Everything else should be customizable at Country level.

[2021-06-03 11:43] ehmadzubair opened #86 "Comments - Related Features"
This is a list of the features that were not a part of #81 because the PR was getting very lengthy:
- [ ] #37
- [ ] Flagging for Moderators vs Users (if applicable) - See #56
- [ ] #527
- [ ] #528

[2021-06-03 18:00] dannyparsons opened #87 "Access site in different languages through URL query"
Currently the site always opens in the default site language.

It would be useful for UNICEF staff to be able to send out links to a site in a specific language. I suggest this could easily be done through a URL query e.g.

https://ke.goodinternet.org/?lang=kiswahili to open in Kiswahili

relates to #21

[2021-06-03 18:12] isedwards commented on #87
Django has this capability built-in, it should work with Wagtail. See:

https://docs.djangoproject.com/en/3.2/topics/i18n/translation/#language-prefix-in-url-patterns

[2021-06-04 08:47] dannyparsons commented on #6
Surveys should also have page break options where a page break can be added after a question in order to display the survey on multiple pages. I assume if the survey is embedded within an article the page breaks are ignored.

[2021-06-04 11:28] dannyparsons opened #88 "Progress Bar Option for Sections"
Some Sections on IoGT are used like a course which has modules to "complete" e.g. https://sa.goodinternet.org/sections/who-health-worker-covax-Text/

To make such sections appear slightly more like a course, sections should have the option of including a "Progress Bar". The Progress Bar would appear at the top of the section page and all children of that section (subsections and articles). Somethi

[2021-06-04 11:39] dannyparsons opened #89 "Next button on articles"
Articles should have a "Next" button at the end of the article to go to the next article in the section.

The last article in the section should probably not have a next button.

Related to #25

[2021-06-04 12:33] ehmadzubair opened #90 "Multi-site support"
Me and @sheralim012 did some research on the Multi-site support according to IOGT's requirements.

## Strategy 1
The first strategy is a ‘no-fork’ solution. Almost all of the wagtail ModelAdmins will have to be replaced with our own rendition of model admins. We will also have to create ‘hacks’ around how to link models to ‘Site’

For example, If we want to only filters groups for my site only to

[2021-06-04 14:49] dannyparsons commented on #90
Thanks Ehmad for this review. It sounds like we can satisfy all our requirements with Strategy 1, just with more custom code and some workarounds, so my view would be to continue on this path. Strategy 2 sounds like an interesting longer term solution but probably too much work at this late stage. Though @isedwards and @istride can give a more informed opinion.

[2021-06-04 17:04] isedwards commented on #90
 @ehmadzubair  @sheralim012 thank you for looking into these options.

Ideally this functionality would be part of standard Wagtail - I think we should reach out to Torchbox at the beginning of next week and see whether they have any additional insights or ideas on how we could align our approach with future Wagtail versions.

[2021-06-05 06:31] lauriemarkle commented on #6
That makes sense. Thanks, Danny.

On Fri, Jun 4, 2021, 11:47 AM Danny Parsons ***@***.***>
wrote:

[2021-06-05 07:24] mikowhy commented on #4
PR -> https://github.com/unicef/iogt/pull/92

[2021-06-07 11:42] sheralim012 opened #95 "Update footers implementation"
- Footers should be implemented as Page and should inherit from Article
- FooterIndexPage will hold all footers
- Footers will be orderable

[2021-06-07 11:43] sheralim012 commented on #95
@dannyparsons kindly check and let me know if I miss something. Thanks.

[2021-06-07 12:33] mikowhy commented on #22
GA settings [implemented here](https://github.com/unicef/iogt/issues/32)

[2021-06-08 21:39] lauriemarkle opened #97 "As a front end user, I receive push notifications of new polls, surveys or relevant content"
New site visitors are invited to receive push notifications.
CMS editors can configure push notifications in the admin portal.

Notifications can probably be added to the CMS using the[ Django-Webpush Package ](https://www.digitalocean.com/community/tutorials/how-to-send-web-push-notifications-from-django-applications)

[2021-06-09 06:26] ehmadzubair opened #98 "Turn off Django Debug Toolbar by default"
The Django Debug Toolbar is slowing things down while development. It has to be `off` by default.

[2021-06-09 07:03] ehmadzubair commented on #83
I'm working on this ticket.

[2021-06-09 07:30] ehmadzubair opened #100 "Investigate why Comment redirection is dependant on Sites Model"
On doing any interaction with the `django-comments-xtd` library, the absolute redirect urls are created by combining the domain from the django `Site` model's `domain_name` field. This should ideally be a relative URL or independent of the Sites framework

[2021-06-09 07:57] ehmadzubair commented on #83
@dannyparsons The surveys/polls features aren't done yet. If they are the only Page types we want to add other than Article, I think this Issue is blocked.

If however we want to add sections to the results (not sure about the its utility), I can add them. However, we'll have to redo this effort when surveys/polls are done.

Thoughts?

[2021-06-09 07:58] ehmadzubair commented on #83
Blocked by #5 #6 #38

[2021-06-09 13:44] sheralim012 commented on #82
@dannyparsons @istride currently there is no elegant way to limit page chooser options [[see-here](https://github.com/wagtail/wagtail/issues/1250)],
the solution I was able to come up with wagtail-hooks is that we filter queryset based on the referer of request
![Screenshot 2021-06-09 at 6 36 00 PM](https://user-images.githubusercontent.com/49383675/121365611-3c3c0600-c952-11eb-8600-be53b5243fb6.p

[2021-06-09 14:36] dannyparsons commented on #82
Is it possible for the default to be for the page chooser to start at the section page instead of at the root? I think that would be fine even if there was no page restriction. I see that's also mentioned in the Wagtail issue you linked to but didn't see a solution.

[2021-06-09 16:56] isedwards opened #101 "Comments: Implementaton to prevent profanities needs improvement"
The current method to prevent profanities in comments is too limited, e.g. the comment `"hello"` is not accepted due to `"hell"` being a blacklisted work.

There are a number of Python packages like [profanity-check](https://pypi.org/project/profanity-check/) that may help.

[2021-06-09 16:57] isedwards opened #102 "Comments: user redirected to `example.com`"
When testing comments with a fresh deployment (i.e. dropping my database), I have the same issue that @istride mentioned in https://github.com/unicef/iogt/pull/81#pullrequestreview-677208727: When I type in a comment and click send the page reload substitutes `example.com` as the site's domain name.

The issue appears to be related to the difference between Django and Wagtail handling of multi-sit

[2021-06-09 16:58] #33 closed

[2021-06-09 16:58] #34 closed

[2021-06-09 16:58] #35 closed

[2021-06-09 16:58] #56 closed

[2021-06-09 17:19] dannyparsons commented on #101
I think having a good system for this might be a 2.1 feature since we need to be aware of many languages and avoiding false flags.

We should fix the current system to avoid the false flags such as `"hello"` though for v2.

[2021-06-10 06:15] ehmadzubair commented on #102
@isedwards The initial data command has been updated in #81 to mitigate this issue. Did you run `python manage.py create_initial_data`? That should have called the other management command named `create_default_site` which updates or creates the Site object.

[2021-06-10 06:21] #98 closed

[2021-06-10 06:30] ehmadzubair commented on #89
#25 will be closed by #76

Doing this in a separate PR

[2021-06-10 07:31] sheralim012 commented on #82
@dannyparsons we can start at the section level by using the above-mentioned method but that would require some checks for traversal of descendants which would in result add some complexity.

[2021-06-10 07:42] ehmadzubair commented on #101
@istride and I discussed this and we decided we'll just disable profanity filtering altogether for now. Will make a PR to update the default settings.

[2021-06-10 08:21] dannyparsons commented on #82
I think it's going to be a bit confusing for CMS users if there isn't either a restriction or the section as the default starting point.

I can't really comment on whether the hack is sensible to use. If it's quick to implement then I suggest you try something out and then @isedwards or @istride can give an opinion on the approach.

[2021-06-10 08:21] dannyparsons commented on #101
Reopening and moving to 2.1 milestone as something to address in future.

[2021-06-11 07:55] Kishokanth-netizen opened #108 "Creating array of resources that should be cached available to serviceworker"
The current implementation to precache resources which we deem necessary is as below
![image](https://user-images.githubusercontent.com/80698644/121650924-600a6380-ca9a-11eb-82d6-ae1328c5e9b2.png)

As discussed with @ehmadzubair, since the content on the app is dynamic, we would need to find a way access these resources dynamically. Ehmad suggested an interesting way to action this using a sitemap

[2021-06-11 08:20] dannyparsons commented on #108
Related to #67

[2021-06-11 08:39] isedwards commented on #90
I've not had a reply from Torchbox. Digging deeper I don't think Wagtail can fully solve this without contributing changes to the approach Django itself takes to multi-site.

Before heading down this rabbit hole, I think we should review the benefits that we're anticipating getting from multi-site and consider the implications for deploying v2.0 in single site mode.

@dannyparsons - is the only be

[2021-06-11 08:48] dannyparsons commented on #90
I think the other main benefit would be that it simplifies the processes for global admins who manage all sites i.e. having a single login and central place to manage all sites. I don't think this should be the determining factor though. But if we can get a workable multi-site even if it's not perfect, I think this would be highly appreciated.

[2021-06-11 12:14] mikowhy commented on #5
Hello,
is there any additional information regarding:

- if / how / where should the results be presented in the admin panel?
- what about the export of results?
- what about numeric fields?
- what about the option to randomise the order of responses?

[2021-06-11 14:12] dannyparsons commented on #5
I would suggest a section of the admin panel to view all polls. When you click on a poll it shows the submissions and there is an option to download the data for that poll in CSV format.

What's the question on numeric fields?

This would be good to have still.

We can discuss further if you would like.

[2021-06-11 16:28] dannyparsons commented on #90
This has now been discussed further and there is agreement that the short term option is to continue with single site installations. The potential benefits of a multi-tenant site don't outweigh the current limitations in core Wagtail and potential problems and instability that may come from developing and maintaining a lot of custom code to implement this for all features.

The multi-tenant option

[2021-06-11 16:28] #90 closed

[2021-06-14 05:13] mikowhy commented on #5
ok

ok

in the video, there was info about the `positive number` field but as far as I remember, it was connected with surveys

ok

[2021-06-14 05:15] mikowhy commented on #5
one more question, could you please explain to me how `The option to have a click-button to begin` works?

[2021-06-14 07:11] sheralim012 opened #109 "Improve Test Coverage"
We can write tests cases for the following things:
- user - search
 - homepage
 - comments

[2021-06-14 12:13] lauriemarkle commented on #5
You can opt to either direct display polls or not. Polls and surveys that
are direct display appear as a full poll or survey embedded in their parent
page or section. Without direct display selected, the poll or survey title
appears with a button to "start survey" or "participate" in poll. You're
then directed to a standalone page with the survey/poll.

On Mon, Jun 14, 2021 at 1:15 AM Mikolaj Pacz

[2021-06-15 08:57] #78 closed

[2021-06-15 10:28] ehmadzubair opened #113 "Make it impossible to bypass Custom Registration questions"
The registration questions' data is very important for the countries hosting IOGT. The questions are essentially part of the registration process and no user should be able to register to the platform without completing the questionnaire.

The custom questions need to be customisable by the editors and show up right after setting up the username password. If the user exits the website at this poin

[2021-06-15 10:28] ehmadzubair commented on #113
I'm picking this ticket

[2021-06-15 12:03] dannyparsons opened #114 "CMS Editors can set Site Manifest Options"
The main fields of the site manifest https://github.com/mikowhy/iogt/blob/feat/IU-11-offline-access-implementation/iogt/static/manifest/manifest.webmanifest for offline access should be editable by CMS users. This could be a specific page in the CMS.

[2021-06-15 12:56] istride commented on #87
I thought Wagtail Localize would automatically provide a solution to this, but it does not. The [docs][1] recommend using the Django mechanisms.

[1]: https://www.wagtail-localize.org/tutorial/2-configure-wagtail-localize/#urls

[2021-06-15 18:44] geoo89 commented on #24
https://github.com/unicef/iogt/issues/24

[2021-06-15 18:45] geoo89 commented on #24
https://github.com/unicef/iogt/pull/116

[2021-06-15 23:56] landdafku11 commented on #5
hello @dannyparsons
I emailed you
can you reply for me?

[2021-06-15 23:58] djangodeveloper96 commented on #5
Hi @dannyparsons
I emailed you.
Could you reply me?

[2021-06-16 09:04] mikowhy commented on #83
@ehmadzubair

during yesterday planning @dannyparsons mentioned this can be a task for us. Have you already started work with it?

[2021-06-16 09:07] dannyparsons opened #117 "CMS Editors can set default behaviour for offline access"
The CMS Editor should have an option available in the Wagtail interface to set whether the site is by default cached for all users.

When the site setting is turned on, the site will be cached by default for all users, but there will still be an ability to turn off caching.

When the site setting is turned off, front end users will still be able to download the site for offline access e.g. through

[2021-06-16 09:38] ehmadzubair commented on #83
No, Feel free to take it up

[2021-06-16 12:25] dannyparsons commented on #32
@lauriemarkle Could you confirm if `Content Rotation Settings` are currently used in any sites and if this feature needs to be retained or v2?

[2021-06-16 13:24] lauriemarkle commented on #32
Not in use

On Wed, Jun 16, 2021 at 8:26 AM Danny Parsons ***@***.***>
wrote:

--

Laurie Markle

[2021-06-16 17:08] djangodeveloper96 commented on #5
hello @dannyparsons
Why don't you reply me?

[2021-06-16 17:09] djangodeveloper96 commented on #5
I emailed serveral times.
and you need to pay me for my previous work.

[2021-06-16 17:09] djangodeveloper96 commented on #5
@dannyparsons
you got refunds from upwork.
then why are you going to not pay me?
please pay me

[2021-06-16 17:12] djangodeveloper96 commented on #5
![image](https://user-images.githubusercontent.com/84460435/122263494-09e85680-cec6-11eb-980f-d5e630126c12.png)
you said like that before 6 days
please pay me

[2021-06-17 08:10] mikowhy commented on #5
1. I suppose you can put only one poll / survey in one article. am I right?

2. and one more question: where embedded poll / survey should be placed in article?
- "somewhere" in the body?
- attached at the bottom of the article?

[2021-06-17 08:28] dannyparsons commented on #5
The idea is that they can be added anywhere in the body i.e. they would be able to be added as an item like below.

![image](https://user-images.githubusercontent.com/11214914/122359548-8d00bf80-cf4d-11eb-96da-9ce587f06d56.png)

So you could add any number of polls/surveys in an article and they would appear in the chosen place in the body.

We discussed yesterday that direct embedding of a poll/s

[2021-06-17 09:08] mikowhy commented on #5
exactly - it's already implemented in StreamFiled / add Page

![image](https://user-images.githubusercontent.com/1311358/122366662-0acbc780-cf5c-11eb-9114-38ac4be54ffb.png)

---

@bart-merix  in that case, we have to remove fields from `QuestionnairePage` model --> https://github.com/mikowhy/iogt/blob/questionaries/questionnaires/models.py#L87

---

thx @dannyparsons

[2021-06-17 10:41] mikowhy commented on #87
which url schema is expected:

`internetofgoodthings.org/en/article` or `internetofgoodthings.org/article?lang=en`

[2021-06-17 11:51] mikowhy commented on #87
PR -> https://github.com/unicef/iogt/pull/120

[2021-06-18 10:16] ehmadzubair opened #121 "Chat Bot Epic"
This Epic has tickets related to the chat bot functionality for IoGT. Significant work for the functionality has been done by @geoo89 and he should be the contact point for any questions/queries.

Here is a list of features that need to be done as a part of this epic:
- Review `messaging.models` - Use managers where applicable
- Refactor messaging app to be more django-esque
- Replace `urllib.requ

[2021-06-18 10:16] ehmadzubair commented on #121
@dannyparsons @geoo89 can you proofread this and add something I might have missed?

[2021-06-18 11:01] geoo89 commented on #121
Thanks, this looks great! A few minor comments:

I believe (but please double check) rapidpro-python is just a wrapper for [this API](https://rapidpro.io/api/v2/), which allows you to access the content on the server (e.g. defined flows, contacts, etc), but is not for sending messages back and forth.

You can identify messages that belong together in that they have the same rapid_pro_message_id. I

[2021-06-20 13:12] mikowhy commented on #83
PR -> https://github.com/unicef/iogt/pull/122

[2021-06-21 08:16] Kishokanth-netizen commented on #117
Outlining the final expectations of this issue-

Scenario 1 - CMS admin toggles a setting to True and the app will contain a popup/banner informing users about the ability to download the website as a PWA (the first time the user visits). The popup/banner content such as imagery and text will be customisable by the admin. Once the user has read through the content in the popup and confirmed his wi

[2021-06-21 10:09] dannyparsons commented on #2
Banners can be created from the Banner Index Page:
![image](https://user-images.githubusercontent.com/11214914/122745030-7ecdde80-d280-11eb-86aa-de4db08ac432.png)
![image](https://user-images.githubusercontent.com/11214914/122745129-960ccc00-d280-11eb-9f24-1336b155ece5.png)

The homepage has a Banners section where banners to appear on the homepage can be chosen and ordered:
![image](https://user-

[2021-06-21 10:09] #2 closed

[2021-06-21 10:17] dannyparsons commented on #3
The images gallery allows for multiple upload of images as in v1.

The proposed solution for improved image organisation is through defining Collections. Collections allow for defining a folder structure which can be used for images, media and documents. The suggestion will be for CMS editors to first define their Collections and then add images/media/documents to those folders directly during upl

[2021-06-21 10:17] #3 closed

[2021-06-21 10:18] dannyparsons commented on #3
Tags are also still available to be used if needed for organisation and search purposes, but this should be more efficient for CMS Editors through Collections.

[2021-06-21 10:33] dannyparsons commented on #9
Document uploading and organisation is similar to images and multi-media files https://github.com/unicef/iogt/issues/3#issuecomment-864915779 - through the Documents panel and using Collections.

Displaying documents as buttons will be investigated as part of design implementation.

[2021-06-21 10:36] dannyparsons commented on #12
Logo is chosen in Site Settings similarly to v1:

![image](https://user-images.githubusercontent.com/11214914/122749102-d8380c80-d284-11eb-9b89-c2ba0c1dfe2f.png)

[2021-06-21 10:59] dannyparsons commented on #15
Section and subsections can be defined as needed. Orphaned articles can be defined as was possible in v1

[2021-06-21 10:59] #15 closed

[2021-06-21 11:01] #16 closed

[2021-06-21 11:11] Kishokanth-netizen commented on #117
Since this issue will involve the implementation of a modal, which usually involves alot of dev time to get right, I propose that we use the help of bootstrap for this. Using bootstrap will also allow me to use the help of the bootstrap grid, which is based on flex and has much better [support](https://caniuse.com/?search=flex) than [grid](https://caniuse.com/?search=grid) for layout.

I will only

[2021-06-21 11:21] dannyparsons commented on #117
I think any simple display to the user will be fine as a starting point.

This sounds fine to me unless @istride or @isedwards have anything to add.

[2021-06-21 14:07] dannyparsons commented on #19
Footers implemented here #96 as fully editable pages

[2021-06-21 14:07] #19 closed

[2021-06-21 14:08] dannyparsons commented on #20
Moving this to v2.1 milestone where potential drag-and-drop interface could be investigated.

[2021-06-21 14:11] dannyparsons opened #123 "Potential drag-and-drop interface or improved method to move content"
As an improvement to the existing Move feature mentioned in #20 and implemented in v2 there may be ways of improving this for v2.1 or v3:

[2021-06-21 14:12] dannyparsons commented on #20
Closing this as main Move feature is available and created new issue for possible drag-and-drop improvement in #123

[2021-06-21 14:12] #20 closed

[2021-06-21 14:35] dannyparsons commented on #26
Reordering and moving content is described in #20. Banners are now selected and ordered on the homepage (#2) and footers are defined and ordered on a Footer Index Page (#19, #95).

The drag-and-drop improvement for v3 is documented in a new issue #123

[2021-06-21 14:35] #26 closed

[2021-06-21 15:00] dannyparsons commented on #59
Closing as not needed for design work

[2021-06-21 15:00] #59 closed

[2021-06-21 15:05] dannyparsons commented on #65
Not needed as design team will work on this.

[2021-06-21 15:05] #65 closed

[2021-06-21 15:10] #87 closed

[2021-06-21 20:03] #31 closed

[2021-06-21 20:04] #25 closed

[2021-06-22 02:23] cbunicef commented on #113
@ehmadzubair Thank you for the quick work on this. Not sure how exactly this was implemented in the pull request but just to clarify - this should be a feature that an admin can enable or disable for their deployment, so that we can accommodate a broad set of use cases.

[2021-06-22 08:19] dannyparsons commented on #113
@cbunicef Yes the additional questions will be fully customisable by the CMS editors, including having no questions if desired. And of course the site is still accessible without login as normal.

[2021-06-22 08:25] sheralim012 commented on #121
@dannyparsons Could you please confirm the following:

- Can an article have more than one **chat with bot** buttons?
- Do we want to dictate the order of contents and  **chat with bot** button e.g., some content then **chat with bot** button, and then again some content... or chat with bot button will always appear at the same place?

[2021-06-22 08:32] dannyparsons commented on #121
It would be good to have the chat with bot button as an element of the body which could be placed anywhere within the contents.

It would be good not to be restricted to one button only in an article.

[2021-06-23 10:48] dannyparsons opened #125 "Better "Choose a page" navigation when using multiple languages"
When multiple languages are used the page selector in standard Wagtail e.g. page link or related articles, shows all language trees but it doesn't indicate which language is for which tree or have the ability to filter by language.

![image](https://user-images.githubusercontent.com/11214914/123083687-347f6580-d418-11eb-8329-c5eec0bd0b95.png)

An immediate solution is to use a standard naming conv

[2021-06-23 12:07] #113 closed

[2021-06-23 12:14] Kishokanth-netizen commented on #117
PR for this issue- https://github.com/unicef/iogt/pull/126 @istride

[2021-06-23 13:20] dannyparsons commented on #25
TODO:
- [ ] Remove Featured Sections
- [ ] Be able to insert an image which is a hyperlink

[2021-06-23 15:26] #32 closed

[2021-06-23 19:49] #82 closed

[2021-06-24 09:29] istride commented on #23
For transfers between v2 sites there are more potential options because the data structures will be exactly the same:

- Wagtail API: built-in public facing API, available in any Wagtail instance
- wagtail-transfer: an app developed by Torchbox for syncing content between Wagtail instances
- wagtail-import-export-tool: app for exporting content from one wagtail instance and importing into another

[2021-06-24 12:45] geoo89 commented on #23
I set up a proof of concept using [wagtail-transfer](https://github.com/wagtail/wagtail-transfer).
I'm currently running a server on http://iogt-django-dev.idems.international/, you should be able to import content from it by building the IoGT site from this branch: https://github.com/geoo89/iogt/tree/experimental/transfer-client
Let me know if you want a superuser account on that server.

This is

[2021-06-24 13:00] dannyparsons commented on #8
@lauriemarkle Should the limit be 6MB or 9MB? I just noticed both 6MB and 9MB have been mentioned in different messages.

[2021-06-24 14:08] lauriemarkle commented on #8
It's 9MB on the site, even though old docs say 6MB. Recall we aren't
capping the upload but we adding this message to the CMS:

Many low-end mobile devices will not support streaming from files greater
than 9MB. Before loading large files, consider your priority user groups
and existing mobile network operator agreements. To reduce file size,
resize videos to [Alex confirm new width / dimensions]

[2021-06-24 14:27] dannyparsons commented on #8
Thanks Laurie. We'll update the CMS message with the new text too.

[2021-06-24 16:47] #18 closed

[2021-06-24 17:04] dannyparsons opened #132 "Section pages should list all child page types"
The section pages currently list the featured article, the subsections and the direct child articles. It should also list direct child surveys, polls and quizzes.

[2021-06-25 09:47] #132 closed

[2021-06-25 10:25] dannyparsons opened #136 "Footer pages do not translate"
When trying to create a translated version of a footer page in a new language I get the following error:

![image](https://user-images.githubusercontent.com/11214914/123421071-4ac22880-d5b4-11eb-8d1b-c29c880054df.png)

ValueError at /admin/localize/submit/page/14/
Cannot add [] (<class 'modelcluster.queryset.FakeQuerySet'>). Expected <class 'django.db.models.base.ModelBase'> or str.
Request Method

[2021-06-25 12:00] dannyparsons opened #137 "Determine how to define the main menu for each language"
The main menu can be defined at Settings > Main Menu. There doesn't seem to be built in support for the main menu to be aware of the different site language. Hence we either need to:

- Modify Main Menu such that it automatically translates page links to the correct language (external links remain). This could be done automatically or through making Main Menu translatable. Workarounds are discusse

[2021-06-25 12:17] dannyparsons opened #138 "Confirm Notification Preferences for CMS Admin users works"
Account Settings > Notification Preferences allows configuring email notification preferences.

This needs to be working on production sites. Do we need to set up an email server for this?

[2021-06-25 12:27] isedwards commented on #138
This needs to be discussed with ICT to see the (paid) service they usually use.

Setting up your own SMTP server is no longer usually used for production sites and I believe Azure blocks SMTP to prevent Azure servers being used to spam people.

Also, if you run your own email server then messages often don't make it past the recipients spam filters.

[2021-06-25 12:40] sheralim012 commented on #136
I'm working on this.

[2021-06-25 13:12] ehmadzubair opened #140 "Attachments from RapidPro"
Significant amount of work related to RapidPro Bot is done in #130. Attachments from RapidPro however are tricky. There are mainly two issues with attachments right now:
## 1. Attachments aren't parsed 'out' from the message body
Attachments need to be parsed from the message's body and show up as preview-able content for (Image, Video and Audio files)

## 2. Attachments do not live on the IoGT Se

[2021-06-25 13:12] dannyparsons opened #141 "Responses to registration survey should appear in user exports"
@ehmadzubair Please take this up

[2021-06-25 13:13] ehmadzubair commented on #140
cc: @dannyparsons @geoo89

[2021-06-25 13:18] dannyparsons commented on #140
Thanks, yes agree with the approach for 2.

[2021-06-25 15:43] dannyparsons commented on #137
We've agreed to use Flat Menus for v2 and have a different flat menu for each language. This is desirable as different menus for different language sites is useful in some cases.

We will use the handle format "en_menu_live" for defining the menu for each language. This format will need to be detected by the front end to display the menu correctly.

[2021-06-25 17:36] dannyparsons opened #143 "Add help text to Settings > Redirects"
When adding a redirect from Settings > Redirect it would be useful to have some hint text that appears for the `Redirect from` field.

**Hint text:**

See https://docs.wagtail.io/en/stable/editor_manual/managing_redirects.html for more details

[2021-06-25 17:41] dannyparsons opened #144 "Display menu for each language from flat menus with specific handle"
As described in #137 we will use Flat Menus to define the main menu for each language. We will not use the Main Menu page.

We will use the handle format `{two_letter_code}_menu_live` for defining the menu for each language. This format will need to be detected by the front end to display the correct men items.

e.g. `en_menu_live` and `fr_menu_live` will be the `handle`s for the live English and

[2021-06-25 17:45] dannyparsons commented on #137
For v2.1 we should investigate better support for menus and languages e.g. adding a language field to flat menu. We also suggest adding a Live or Active field to flat menus to define which menu is the live menu for a specific language.

It would also be useful to have a way of previewing how a menu will look before making it live on the site.

[2021-06-25 18:00] dannyparsons opened #145 "Social Media Sharing Settings should be functional"
Settings > Site Settings > SOCIAL MEDIA CONTENT SHARING BUTTONS should be functional for Facebook, Twitter etc. and display sharing links at the bottom of all pages when active.

Questions:
- What should be entered for Platform?
- Will this work for any social media sites or should there be a predefined list?

[2021-06-25 18:02] dannyparsons opened #146 "Be able to import content from another site in draft form"
Related to #23. When importing content from another site include an option to import the content in draft form.

[2021-06-25 18:10] dannyparsons commented on #4
@isedwards We discovered that some external links are not being captured by the approach implemented in #92. It seems to work well for embedded links in a Paragraph block but doesn't work in some other places such as a menu item. e.g. see the UNICEF menu item here http://iogt.site/en/ which was defined as a Main Menu item as below. This should also be detected if external links are used on Flat Me

[2021-06-25 18:15] dannyparsons opened #147 "Add icon to Flat Menu items"
Each menu item block within a new flat menu should have an icon field that will display on the menu.

[2021-06-25 18:19] dannyparsons opened #148 "Flat Menu item can automatically display section icon for a section page link"
If a menu item in a Flat Menu is linked to a Section page, then it should not be necessary to choose the icon for the menu item and it should use the section icon when the item icon is blank. This can be overridden by specifying an icon for the menu item.
The icon field should have the hint text:

[2021-06-25 18:27] dannyparsons opened #149 ""Live" button when editing a translated page goes to wrong URL"
When editing a translated page in translation mode the "Live" button in the top right always goes to `localhost/...`
e.g. `http://localhost/fr/emergency-information/dans-covid-19/nutrition-tips-during-covid-19/`

even on a deployed site where the link should be

`https://iogt.site/fr/emergency-information/dans-covid-19/nutrition-tips-during-covid-19/`

When you choose "Stop translating" the "Live"

[2021-06-25 18:30] dannyparsons opened #150 "Remove static content from codebase"
There is various static content hard coded in the front-end which should be removed, including:

- The "What else do you want to know about Coronavirus?" survey at the bottom of every article
- Español language option on the main menu

These should be removed in the process of implementing designs.

[2021-06-25 18:33] dannyparsons opened #151 "Down arrow missing from "Parent" drop down in Add Collection"
When adding a new collection, the drop down for selecting the parent collection doesn't have an arrow button to let users know they can click and select from a drop-down list. The arrow would help CMS Editors defining collections.

[2021-06-25 19:36] isedwards commented on #4
It's an issue with the way that this has been implemented - we're also going to have problems with migrated content from v1 because the current implementation rewrites links once at creation time (whereas v1 content was created earlier) not at run time.

When I saw the implementation I thought it may be sufficient (and also faster than a run time version), but it will only work with new content cr

[2021-06-25 20:05] geoo89 commented on #21
I implemented a prototype for importing/exporting translations via spreadsheets: https://github.com/geoo89/iogt/tree/feat/translation_xlsx

@ehmadzubair is going to make this prototype production-ready.

[2021-06-26 11:46] dannyparsons opened #152 "Add a Section Index Page"
Add a Section Index Page so that page organisation is easier.

[2021-06-26 11:52] dannyparsons opened #153 "In the CMS, pages should always display in "Sort" order"
For any page in the CMS which displays pages:
- Banners index page
- Section index page (when created in #152)
- Section pages

The pages should always be displayed in the "Sort" order (which is the order they appear on the site).

This has already been done for Footer pages so the implementation can be the same.

[2021-06-26 12:36] dannyparsons opened #154 "Surveys, Polls and Quizzes can be embedded within an article"
The body field in articles should have an additional block or blocks for embedding a survey, poll or quiz.

If the survey or quiz has any page breaks these are ignored and it will display the whole survey/quiz.

When submit is clicked the thank you page also displays embedded. On a feature phone, this will require a page refresh.

[2021-06-26 12:46] dannyparsons opened #155 "Remove the Add Survey and Add Poll button from Survey and Poll admin pages"
Surveys and Polls will be added directly from the Pages section. The "Add Survey" and "Add Poll" buttons on the Survey and Poll pages which has radio buttons for the parent section is not very user friendly and not needed so these buttons should be removed.

[2021-06-26 13:00] dannyparsons opened #156 "Features to add to Surveys"
Front-end:
- [x] Support for URL input fields. Currently, they don't appear
- [x] When input type "checkbox" is set as "required" in the backend, when submitting, the error message "This field is required." is displayed regardless of whether it is checked or not, making it impossible to complete the survey.
- [x] Support for "(single) Checkbox" fields. They currently crash the page.
- [x] Support

[2021-06-26 13:04] dannyparsons opened #157 "Features to add to Polls"
Frontend:
- [x] Bugfix: Checkboxes options are not displayed.
- [x] Bugfix: Radio button options are not clickable.
- [x] Bugfix: Display custom description that was set in admin backend
- [x] Bugfix: Display custom thank you message that was set in admin backend rather than generic "THANK YOU FOR YOUR
RESPONSE!" message
- [x] If a poll has the option set to display totals rather than percentages,

[2021-06-26 16:53] dannyparsons opened #158 "Comments admin view should show page that comment was on"
In the table of comments shown in Comments > All Comments there should be an additional column to show the page that the comment was on.

The page name should also be a link to the live page.

[2021-06-26 17:03] dannyparsons opened #159 "Comments export has `<span>` element in status column which should be removed."
In the comments exported XLSX or CSV file the `status` column includes a `<span>` element which should be removed and it should just show the text e.g. "Deleted".

![image](https://user-images.githubusercontent.com/11214914/123520319-0f088b00-d6a8-11eb-85d7-b0eab4d00a34.png)

[2021-06-26 17:12] dannyparsons opened #160 "Fields to add to comments export"
These fields should be added to the comments export XLSX and CSV files:

- Article name
- URL of live article page
- Language code of the version of the site the comment was made on

[2021-06-26 17:44] dannyparsons opened #161 "File exports should have descriptive and unique names"
Any files that are exported in the CMS should have a descriptive and unique name in a consistent format.

Suggested format: `{site_name}_{feature}_{time_stamp}.xlxs`

e.g. `ke-goodinternet_comments_2013-04-01T130102.xlsx` or `za-goodinternet_fav-food-survey_2013-04-01T130102.csv`

`{feature}` could be "comments" for comments export or the name of a survey/poll/quiz.

Use `-` as a separator within

[2021-06-26 18:05] dannyparsons opened #162 "Bug inserting an image next to a link in a paragraph block"
When inserting images into a paragraph block in the body of an article, if you have the cursor directly next to a hyperlink and then click to insert an image, you are brought to an image upload panel that skips image selection and offers only one image which seems to be a random image from the collection. The Alt Text field is also populate with a seemingly random string. This appears to be a stra

[2021-06-26 18:23] dannyparsons opened #163 "Image block should have format option"
When adding an image as its own block in the body of an article there should be an option to choose the format: Full-width, left/right aligned, as there is when adding an image directly within a paragraph.

[2021-06-26 19:05] dannyparsons opened #164 "Page link block in body of article should have editable link text"
When inserting a page link as a block in the body of an article the link text should be editable - default as the page name.

The field should also be renamed to "Page Button" as it will be displayed as a button.

[2021-06-26 19:10] dannyparsons opened #165 "Page link block in body of article should display as a button"
When adding a page link as it's own block in the body of an article it should display as a button with the specified text (relates to #164).

Note that links to pages within an article block should be unchanged and still display as text links.

[2021-06-26 19:27] dannyparsons opened #166 "Survey/poll/quiz export should include the page URL in a column"

[2021-06-28 07:42] #4 closed

[2021-06-28 10:05] dannyparsons commented on #153
@sheralim012 Can you take this up as you did this for footers already?

[2021-06-28 10:14] #152 closed

[2021-06-28 10:28] dannyparsons commented on #154
@ehmadzubair Could you take this up?

[2021-06-28 11:44] #136 closed

[2021-06-28 12:39] #153 closed

[2021-06-28 12:49] sheralim012 commented on #141
I'll be working on this one.

[2021-06-28 20:01] dannyparsons commented on #144
fixed by #174

[2021-06-28 20:01] #144 closed

[2021-06-29 09:00] dannyparsons opened #176 "Content migration should migration translations of sections and articles"
The content migration script needs to also migrate the translated pages of sections and articles.

[2021-06-29 11:45] dannyparsons commented on #147
fixed by #178

[2021-06-29 13:33] sheralim012 commented on #164
@dannyparsons setting default link text as page name in wagtail CMS would require us to override article edit template and use some javascript to manually add page name in field

an easier solution would be to override block rendering template and if the link text is empty then just use page name.

Let me know with which option you want me to implement

[2021-06-29 13:38] dannyparsons commented on #164
The second sounds like a sensible solution to this. Thanks.

[2021-06-29 14:12] isedwards commented on #147
Just looking at #178 - do we want the icons in menus to be user uploaded images?

There was disucssion a while ago of using a suitable icon set (see for example [font awesome](https://fontawesome.com/v3.2/examples/))

[2021-06-29 14:35] dannyparsons commented on #147
We did plan to preload the purchased icons into a collection by default for users to choose from. Having a more restricted selection of icons in another way could be useful too. I think we could investigate this as a 2.1 issue.

[2021-06-29 14:51] #164 closed

[2021-06-29 15:11] cbunicef commented on #147
Ideally the admin can choose either/or, if that is possible without too much additional work.

[2021-06-29 15:21] #154 closed

[2021-06-29 15:31] dannyparsons commented on #154
The current solution is that the survey/poll is embedded but the thank you text is on a separate page with a "back" link to return to article.

This is not the ideal solution as it requires an extra page load, however, embedding the thank you page proved more difficult as this requires also overriding the submit functionality, but this can be done for v2.1. Will add an issue for this.

[2021-06-29 15:34] dannyparsons opened #181 "Survey/Poll/Quiz 'thank you page' can be embedded within an article after submission"
Extension of #154 to also embed the thank you page. Currently the survey/poll/quiz is embedded and 'thank you text' is displayed on a separate page with a 'back' link.

[2021-06-29 15:41] dannyparsons opened #182 "Custom registration survey shows correct language version of the survey"
The registration survey that is selected in Site Settings should show the translated version of that survey when the user is viewing the site on with a different language.

[2021-06-29 15:42] dannyparsons commented on #165
fixed by #180

[2021-06-29 15:42] #165 closed

[2021-06-29 15:47] #141 closed

[2021-06-29 15:55] #88 closed

[2021-06-30 00:52] cbunicef opened #184 "Ability to insert links which click to SMS in paragraph content blocks"
As an admin I want to be able to easily insert links which click to a new SMS conversation, and specify the destination number as well as the pre-populated text.

As a user I want to be able to easily start an SMS conversation with a UNICEF or government service.

![image](https://user-images.githubusercontent.com/30042226/123885669-e4bf0380-d91b-11eb-8091-aad139fd6f69.png)

[2021-06-30 00:56] cbunicef opened #185 "Properly informing on non-zero rating when embedded videos in a paragraph block"
As an admin I want to be reminded when I am embedding a video that this may create charges for the user that they don't expect when normally browsing the IoGT site.

As a user I want to be informed before I begin streaming an embedded video if it will be charged against my data allowance.

**For 2.0.1 we need to either resolve this issue or temporarily disable video embeds until it's resolved.**

[2021-06-30 06:31] dannyparsons commented on #185
Thanks @cbunicef. Just to clarify for the dev team, this only applies to embedded videos at external links.

[2021-06-30 08:14] dannyparsons opened #189 "Tidy up the current parallel solutions for leaving free data environment"
Tidy up the current parallel solutions for leaving free data environment:

- Rich text input (#92)
- Middleware (#167)

[2021-06-30 15:56] cbunicef opened #195 "UUIDs for survey and poll data"
As an admin I want to be able to track individual responses by user across surveys and polls, while also not relying on user account names which may contain user-submitted PII.

As an admin I want to be able to track individual responses from devices across surveys and polls, so that I can estimate how many unique anonymous individuals are responding and also how often multiple persons are using a

[2021-06-30 16:52] #38 closed

[2021-07-01 09:53] dannyparsons opened #210 "Remove embedded video from paragraph body"
Until we resolve #185 we want to remove the embedded video option from the paragraph body.

[2021-07-01 11:07] dannyparsons commented on #159
fixed by #209

[2021-07-01 11:07] #159 closed

[2021-07-01 13:53] dannyparsons opened #217 "Tag static front end text for translation"
Any hard-coded text in the front-end needs to be tagged so that it will be translated when viewing the site in different langauges.

There are two cases:

- in HTML templates text should be tagged with `{% trans %}` template tag e.g. `{% trans "Login by signing in below." %}`
- in Python code (including models.py, views.py and elsewhere). Use the following:

[code]

This should display as the orig

[2021-07-01 15:36] cbunicef opened #219 "Explain to users who are viewing cached website content offline that the link they are clicking is not cached"
### Confirmed stories

As a user viewing cached content offline:

1. I want to be aware - before clicking a link - whether the content will load
    1. Including external sites
    1. Via a subtle visual cue, eg icon in link text
1. If I do click a link which is not cached, I want to see an explicit message that the content is not cached and requires an internet connection to view
    1. This mess

[2021-07-04 19:26] #210 closed

[2021-07-05 09:22] mikowhy commented on #83
@ehmadzubair / @dannyparsons could you please take a look at my PR -> https://github.com/unicef/iogt/pull/122

Ps. It has been already sent to internal code review while @mwrobel-merixstudio is on his holidays

[2021-07-05 10:28] ehmadzubair commented on #156
I'm starting work on this ticket

[2021-07-05 20:23] cbunicef opened #234 "Markdown blocks missing support for basic HTML"
Missing support for basic in-line HTML, eg <b>bold</b>.

[2021-07-06 08:38] mikowhy commented on #83
you can find unmerged commits from  https://github.com/unicef/iogt/pull/122 in new PR -> https://github.com/unicef/iogt/pull/237

[2021-07-06 10:53] #150 closed

[2021-07-12 19:29] geoo89 commented on #156
Crash log for "checkbox" input type as of commit 948d8a2:
This is for a survey with a single checkbox.

Environment:

Request Method: GET
Request URL: http://127.0.0.1:8000/en/sections/youth/the-survey/

Django Version: 3.1.11
Python Version: 3.6.9
Installed Applications:
['home',
 'search',
 'iogt_users',
 'comments',
 'iogt_content_migration',
 'questionnaires',
 'messaging',
 'django.contrib.hu

[2021-07-12 19:47] #22 closed

[2021-07-12 21:06] geoo89 opened #272 "Features to add to Quizzes."
Front-end:
- [x] Support for text/number/etc input fields. Currently, they don't appear
- [x] On the landing page, when getting the answer correct for a multiple choice type question (radio, checkboxes, dropdown, multiple select), all answer options are highlighted in green, not just the correct one.
- [x] Landing page crashes when a text input type is present
- [x] Landing page crashes when a che

[2021-07-12 21:10] geoo89 commented on #24
Initial investigation succeeded by implementation Epic, see Issue #121

[2021-07-12 21:10] #24 closed

[2021-07-14 08:03] Kishokanth-netizen opened #285 "Provide the ability to display more than one flat menu on the app"
Hey @ehmadzubair as discussed on slack I would like to have the ability to embed the dynamic flat menu anywhere in the app, any number of times. This is as the flat menu needs to be displayed multiple times on feature phones due to the lack of sticky support

[2021-07-14 08:06] Kishokanth-netizen opened #286 "Render the link to download video/audio when the video/audio tag is not supported"
Hey @ehmadzubair in the feature phone, audio and video tags are not rendered due to a lack of support. We therefore need to give the users the ability to download these. So the ideal implementation would be - if either/both tags are not supported, we give the user a link through which they can download the content

[2021-07-14 10:04] geoo89 commented on #114
Resolved by PR #269

[2021-07-14 10:04] #114 closed

[2021-07-14 11:26] ehmadzubair commented on #286
I'm struggling with deciding if it should be on the backend or the frontend. Here's a [SO answer](https://stackoverflow.com/questions/3570502/how-to-check-for-html5-video-support/3577155) that shows how we can check if the video/audio tags are supported.

@istride can you weigh in on this?

[2021-07-14 11:51] ehmadzubair opened #288 "Chatbot V1.1"
Some initial work was done in #121 and V1 of the chatbot was done in  #283.

Additional features that are required in the Chatbot are as follows:

- [ ] Make the header 'sticky' so that it gives the user a "Messenger" like experience (discuss the design with @volloholic)
- [ ] Make the reply text field 'sticky' so that it gives the user a "Messenger" like experience (discuss the design with @vollo

[2021-07-14 17:35] geoo89 opened #292 "Further features to add to Surveys, Polls and Quizzes"
Backend:
-  [ ] (Survey, Quiz) Support _Positive Number_ in addition to _Number_ input type. Positive Number has 0 as the minimum.
-  [ ] The field type options should be in alphabetical order
-  [ ] (Poll) Choices should be hidden when the field type is Checkbox
-  [ ] (Poll) Remove the "ADD POLL FORM FIELDS" button

[2021-07-15 08:24] ehmadzubair commented on #288
@ChrisMarsh82 can you help with the following designs?

<img width="1433" alt="Screenshot 2021-07-15 at 1 22 00 PM" src="https://user-images.githubusercontent.com/10597112/125754628-840e53e0-b33f-48d4-b8ca-bf890f8d8464.png">

1. How should the load more button look?
2. Can we have some design for the text that shows that this is the beginning of our conversation with the bot?
3. Do we need to make

[2021-07-15 10:09] ehmadzubair opened #295 "Download and Serve RapidPro attachments from IoGT"
Downloading and saving attachments is not trivial because the messages can be divided into (stich-able) chunks.

Hence, the workflow for every received message will have to do the following:
1. Receive a message on the webhook
2. Extract the attachments by splitting the text on `\n`
3. Spawn an asynchronous task (with [Celery](https://docs.celeryproject.org/en/stable/django/first-steps-with-django

[2021-07-15 11:00] sheralim012 commented on #272
@volloholic @ChrisMarsh82 confirm 6th requirement,

What should be the behavior for the following cases
- when the quiz is a child of homepage/section/article
- when the quiz is embedded in an article

and the current behavior is to go back to where the quiz was started in all cases

[2021-07-15 11:29] sheralim012 commented on #29
@ChrisMarsh82 this is done and you can close this.

[2021-07-15 11:31] sheralim012 commented on #102
@ChrisMarsh82 this is done and you can close this.

[2021-07-15 11:32] sheralim012 commented on #100
@ChrisMarsh82 this is not urgent and can wait till v2.1

[2021-07-15 11:34] sheralim012 commented on #28
@ChrisMarsh82 this has a button in settings>export/import users but doesn't have any functionality behind it.

[2021-07-15 11:35] sheralim012 commented on #75
@ChrisMarsh82 this is done and you can close this.

[2021-07-15 11:38] sheralim012 commented on #60
@ChrisMarsh82 this is done and you can close this.

[2021-07-15 11:42] ehmadzubair opened #298 "Add .live() filters to previous/next articles"
In addition to the `.live()` filter, add a filter on the type too

[2021-07-15 11:43] sheralim012 commented on #67
@ChrisMarsh82 this is done and you can close this.

[2021-07-15 11:53] sheralim012 commented on #83
@ChrisMarsh82 this is done and you can close this.

[2021-07-15 11:54] sheralim012 commented on #86
@ChrisMarsh82 flagging is done and the rest of the requirements need to be reprioratized

[2021-07-15 11:55] sheralim012 commented on #108
@ChrisMarsh82 this is done and you can close this.

[2021-07-15 11:55] sheralim012 commented on #285
@ChrisMarsh82 this is done and you can close this.

[2021-07-15 11:57] sheralim012 commented on #185
@ChrisMarsh82 #210 was a temporary fix, you can check with @dannyparsons about this.

[2021-07-15 11:59] sheralim012 commented on #117
@volloholic is this ticket still relevant? I think it was mentioned that users can download the site explicitly.

CC: @ChrisMarsh82

[2021-07-15 12:02] sheralim012 commented on #155
@ChrisMarsh82 this isn't done yet.

[2021-07-15 12:19] sheralim012 commented on #5
@ChrisMarsh82 anonymous user submission with allow multiple doesn't work correctly. All other things are already done.

[2021-07-15 12:22] sheralim012 commented on #10
@ChrisMarsh82 this is done, you can close it.

[2021-07-15 12:36] sheralim012 commented on #6
* there is no feature image (lead image) for survey
* direct display option is there in wagtail admin but isn't implemented

all other seems fine.

[2021-07-15 12:47] sheralim012 commented on #9
@ChrisMarsh82 documents added to part of body of text appear as button instead of hyperlink isn't implemented.

[2021-07-15 12:51] sheralim012 commented on #12
@ChrisMarsh82 this isn't implemented yet.

[2021-07-15 12:52] sheralim012 commented on #21
@ChrisMarsh82 I think @geoo89 can comment better about the status of this ticket.

[2021-07-15 12:55] sheralim012 commented on #137
@ChrisMarsh82 is it still relevant?

CC: @dannyparsons

[2021-07-15 12:57] sheralim012 commented on #217
@ChrisMarsh82 I think @geoo89 can comment on this better.

[2021-07-15 13:02] sheralim012 commented on #182
@ChrisMarsh82 this isn't implemented.

[2021-07-15 13:04] sheralim012 commented on #149
@ChrisMarsh82 this is done, you can close it.

[2021-07-15 13:07] sheralim012 commented on #162
@ChrisMarsh82 this isn't implemented yet.

[2021-07-15 13:08] sheralim012 commented on #23
@ChrisMarsh82 wagtail-transfer is added but isn't tested yet. I think @geoo89 can confirm this.

[2021-07-15 15:57] pranavavva opened #301 "Surveys: Answer Options should not be available for non-multiple-choice field types"
When creating a survey and adding questions, the Answer Options field always shows up, even for questions that are not multiple-choice type (checkboxes, multiple select, dropdown, radio). For example, the attached screenshot shows a question with the date field type, yet the Answer Options field is enabled.

<img width="1006" alt="Screen Shot 2021-07-15 at 11 57 24 AM" src="https://user-images.git

[2021-07-15 16:02] pranavavva opened #302 "Surveys: Skip logic select question from dropdown."
When editing the skip logic of a survey question, we currently have to use the question number to select which question to jump to. This is cumbersome because it requires going through the list of questions and counting off the questions.

It would be easier to change the Question field in the skip logic dialog to be a dropdown of all the questions in the survey. This way, the survey creator could

[2021-07-15 16:58] geoo89 commented on #288
When adding a chatbot button in the admin interface, selecting the blank option, and saving the page, the page crashes.
Display a validation error instead and don't save the page edit?
I added this to the task list in the issue.

[2021-07-15 17:14] geoo89 commented on #288
Everything seems to be working as expected, and the styling is in line with the rest of the page. I think we should have some discussions around realistic use cases and UX, and pin down the exact behavior that we want.
A few things to consider (feel free to add this to the issue itself, or we could also make a Chatbot UX issue):

- [ ] Currently, manual refresh is required to see new incoming mess

[2021-07-17 14:06] geoo89 opened #308 "Can report comment multiple times"
- [x] #521
- [x] #522
- [x] Double check the text to be displayed for reported comments: For moderators, `{% blocktrans count counter=item.flagged_count %}A user has flagged this comment as inappropriate. {% plural %}{{ counter }} users have flagged this comment as inappropriate.{% endblocktrans %}` or `Reported by {{ item.flagged_count }}` (the latter is currently used)? For users, `This is a rep

[2021-07-17 14:15] geoo89 opened #309 "Property fields when uploading media"
- [ ] When uploading an audio piece in the admin view (Edit Article -> + -> Media -> Choose a Media Item -> Upload Audio), there is a field to specify width and height, which doesn't make sense. (This is not present when pressing "Edit this media item")
- [ ] Similarly, there is a duration field. Is it used for anything; isn't it possible to infer the duration from the file itself?

[2021-07-18 10:11] geoo89 opened #310 "Remove or replace placeholder texts"
[code]

[2021-07-18 10:31] geoo89 commented on #286
Got addressed in PR #306: https://github.com/unicef/iogt/pull/306/commits/ce350a689a738e588b350563f7c078da28a5259a
Please check if this is satisfactory.

[2021-07-18 10:38] geoo89 commented on #217
Note: Initial work on this was done in PR #250

[2021-07-18 11:16] geoo89 opened #311 "Users profile page issues"
Log in and go to the page /users/profile/
- [ ] Notifications button isn't working
- [ ] Change digital pin button isn't working.
- [ ] On the page "Edit my profile" /users/profile/edit, no text is displayed above the input fields:
![image](https://user-images.githubusercontent.com/678199/126065053-b76c6532-6f58-4fd0-963e-b018c95a0306.png)

[2021-07-19 10:38] ChrisMarsh82 commented on #272
The back button should take you back to the start of the quiz if already started.
If a quiz is not started it should take you back to the article or previous page.

[2021-07-19 10:51] ChrisMarsh82 commented on #137
Should be completed. To be checked. Will be done in 2.0

[2021-07-19 10:56] geoo89 commented on #310
Should be removed.

[2021-07-19 10:57] geoo89 commented on #311
Disable the first two temporarily for v2.0, fix the third?

[2021-07-19 11:22] geoo89 opened #315 "Bugfix/feature: The "Answer options" is required to have exactly two choices (true, false) for input type "checkbox". Is this for the purpose of skip logic? When saving, the choice labels are erased (though the two choices remain in the list at least). Should it be possible to omit the "Answer options" field for checkboxes if not planning to use skip logic?"

[2021-07-19 14:11] ehmadzubair commented on #5
Add a validation step here that doesn't let the user disable **allow multiple submissions** for anonymous users

[2021-07-19 14:24] cbunicef commented on #5
Is this not possible? Or are we saving it for a future milestone?

[2021-07-19 15:23] geoo89 opened #317 "Design for external link referral page"
The page exists and is functional, but the text and design need to be finalized.

Current state:
![image](https://user-images.githubusercontent.com/678199/126184964-c73dd2fa-ac57-45f8-913a-2a14725e7841.png)

[2021-07-19 15:30] geoo89 commented on #149
Confirmed this is fixed.

[2021-07-19 15:30] #149 closed

[2021-07-19 15:31] geoo89 commented on #83
Confirmed this is working.

[2021-07-19 15:31] #83 closed

[2021-07-19 15:33] geoo89 commented on #60
Confirmed this is fixed.

[2021-07-19 15:33] #60 closed

[2021-07-19 15:35] #102 closed

[2021-07-19 16:51] #121 closed

[2021-07-19 17:03] cbunicef opened #318 "Change "Pages" in Page menu to read "Root""
The destination for the button is the "Root" view.

![image](https://user-images.githubusercontent.com/30042226/126198131-c3f6f6cc-545e-469a-804e-0e901f2ba945.png)

[2021-07-19 17:03] geoo89 commented on #286
Message with download link is displayed either way. I tested this on desktop with noscript, and the download links are still displayed.

[2021-07-19 17:03] #286 closed

[2021-07-19 17:25] geoo89 opened #319 "Attachments for chatbot"
Each time an image is sent, a duplicate file is created (they are identical), e.g.
[code]
This doesn't seem to happen for other file types.

If an image URL is split across messages, the image is not recognized as such.
Before PR #312:
![image](https://user-images.githubusercontent.com/678199/126199617-dde906eb-ccf8-41cb-bcce-b196e4ec3a06.png)
After:
![image](https://user-images.githubusercontent.

[2021-07-19 18:11] #217 closed

[2021-07-19 18:12] geoo89 opened #320 "Translate strings inside javascript"
`iogt/templates/base.html` has some untranslated code in a JS tag. This should be tagged for translation.

[2021-07-19 18:16] geoo89 opened #321 "Wrong localized URL redirects"
- [ ] fr/accounts/login/ redirects to en/users/profile/ (i.e. the language gets changed)
- [ ] There are "home" buttons that are hardcoded to redirect to '/', but this resolves to the English version of the site.

[2021-07-19 18:40] geoo89 commented on #137
This is working as described in previous comments. I will close this and make a new issue for possible future improvements.

[2021-07-19 19:06] geoo89 commented on #23
This is working in principle, but it's currently not configured.
Each server specifies a WAGTAILTRANSFER_SECRET_KEY and a list of WAGTAILTRANSFER_SOURCES, which are other servers to commicate with, with their URL and secret key. It can then pull content from any of these sources.
Currently, all of this is stored in iogt/settings/base.py

We should investigate where/how to store this configuration

[2021-07-20 11:33] ehmadzubair commented on #155
Removing the "Add" button from Quizzes as well

[2021-07-20 13:23] sheralim012 commented on #272
#322 fixes this issue.
Also, if a checkbox field is required then users can't submit as unchecked.

use a comma-separated list for multi-value fields.

use "on" or "off" as the correct answer.
#322 addresses this issue.

[2021-07-20 13:39] sheralim012 commented on #292
#322 addresses this issue.

[2021-07-20 16:27] sheralim012 commented on #292
this is doable but will have to manually construct fields types list and override default list of field

this can be done by overriding wagtail admin template but same template is being used for poll, surveys and quizzes (pages in general) so additional checks would be required

by default 1 field can be added and "ADD POLL FORM FIELDS" is disabled, also if we remove this button and someone click

[2021-07-22 16:42] pranavavva opened #327 "Dashboard: List headers"
On the admin landing page (Dashboard) there are lists of the pages awaiting review and pages most recently edited. These lists do not have column headers. It would be clearer what these columns are for if they are given headers (such as "status" and "last edited")

<img width="1572" alt="Screen Shot 2021-07-22 at 12 42 07 PM" src="https://user-images.githubusercontent.com/23485492/126676480-1cb0c4

[2021-07-22 16:45] pranavavva opened #328 "Sections: Rename "Sort" column to "reorder""
When viewing a section page on the backend, one of the table columns is labelled "sort" but the actual functionality is to provide "grips" to reorder the child pages. It would be more clear if the "sort" column is renamed to "reorder" or similar.

<img width="481" alt="Screen Shot 2021-07-22 at 12 43 09 PM" src="https://user-images.githubusercontent.com/23485492/126676574-51e4def0-70fe-48e4-8de3-7

[2021-07-22 17:40] ehmadzubair opened #329 "Add validation to Questionnaires for Direct Display"
Direct display support is added for Questionnaires in #326. While all other questionnaires work as expected, multistep forms in particular break when they are rendered elsewhere.

We should have a validation step that prohibits editors to enable direct display in multi-step forms

[2021-07-22 19:08] ehmadzubair commented on #308
Number 2 and 3 have been addressed however, doing number 1 is a little more complicated. Do we want to defer it to v 2.0.1?

@ChrisMarsh82 @dannyparsons

[2021-07-23 10:48] geoo89 opened #332 "Styling in accounts view"
- [x] Password reset button looks like a text input field: ![image](https://user-images.githubusercontent.com/678199/126771418-398772c4-3cad-463a-b49e-a5aea17bc8f6.png)
- [x] In the account menu, the button says "Change digital PIN", but the page it links to is titled "Change Password" (but has a 4 character limit assuming a PIN as input; I assume superusers can use the django-admin/ view to chang

[2021-07-23 11:00] #311 closed

[2021-07-23 11:05] #155 closed

[2021-07-23 11:12] #310 closed

[2021-07-23 11:21] #12 closed

[2021-07-23 22:31] geoo89 opened #333 "Language select menu does nothing"
- [x] The language select button the top left does not change the language.
![image](https://user-images.githubusercontent.com/678199/126847296-ab31ecb0-8215-4c3b-a3e4-08c0e2b48293.png)

Expected behavior:
- redirect to currently open page, but in the selected locale
  - e.g. if /en/users/profile/ is open and French gets selected, redirect to /fr/users/profile/
  - if that URL doesn't exist (e.g.

[2021-07-25 18:30] geoo89 opened #336 "Previous/Next button includes draft pages"
When browsing the articles in a section, pressing Previous/Next takes you to the previous/next article regardless of its draft state. If the article ends up being a draft, you get a 404.

[2021-07-25 18:48] geoo89 opened #337 "URL paths for localized pages when migrating from v1"
In V1, localization is done differently:
- while we have it at the root level (locale prefix, e.g. /fr/...), in V1 the locale indication is at the leaf level (locale suffix, e.g. .../french-translation-of-[page name])

This adds an additional challenge to migrating localized content from V1 to V2.

- [x] As a first step, add a flag to `load_v1_db` to filter out pages from other locales (i.e. leave

[2021-07-25 21:01] geoo89 opened #338 "Highlighting correct and wrong answers in quizzes"
Current scheme:
- Green tick: You picked and it was correct.
- Red cross: You picked and it was wrong, OR you didn't pick but it was correct.
- Grey: You didn't pick it and it was incorrect
![image](https://user-images.githubusercontent.com/678199/126913402-ed190801-1249-40bb-828e-ada1653740e0.png)
Thus from the results page you cannot infer which answers are correct without knowing what you picke

[2021-07-25 21:27] geoo89 opened #339 "Temporarily remove 'checkbox'/'multiple select' from polls backend"
While they work for surveys, the 'checkbox' input fields crash the page for polls.
As they are of limited use for polls, disable the 'checkbox' option temporarily until this is fixed.

Also disable "Multiple select" from surveys, polls and quizzes for now. They are not part of the formal requirement, and need some polishing (or checkboxes might be sufficient).

[2021-07-25 21:41] geoo89 commented on #272
The back link at the beginning of the page still takes you to the home page '/' though.

[2021-07-26 14:58] geoo89 commented on #317
This could still do with some improvement.

[2021-07-26 16:18] geoo89 opened #345 "Checkboxes in embedded quizzes/polls are turned into dropdowns"
This issue also applies to polls.
Furthermore, the quiz prompts are missing.

As standalone quiz:
![image](https://user-images.githubusercontent.com/678199/127023359-4ee21aea-ddd4-4fc7-b1ce-d4be3bf707bb.png)

Embedded in an article:
![image](https://user-images.githubusercontent.com/678199/127023401-78ff6450-616e-4721-bbaa-1806c4dc7ae9.png)

@sheralim012

[2021-07-26 16:21] cbunicef commented on #338
Unfortunately for accessibility reasons we can't rely on coding the answers via colors eg red/green. I think we discussed this, but we might have missed the "Correct but you missed it" category.

[2021-07-26 17:12] geoo89 opened #347 "Colors ignored in flat menus"
In Settings -> Flat menus, there is a field to specific color/text color for each menu item.
It does not have any effect.

[2021-07-26 17:13] geoo89 opened #348 "Remove "View Live" for banners"
Banners cannot be viewed standalone, but in the admin view they still have a "View LIVE" button, which gives a 404. This button should be disabled.

[2021-07-26 17:18] geoo89 opened #349 "Make wagtail-transfer settings configurable in admin backend"
Currently, they need to be specified in iogt/settings/local.py on the deployment server.

This is not an issue as long as local sites only pull from the global site, but not the other way around.
However, if the global site wants to pull content from a local site, each time a new site goes up we need to add this site to the list of WAGTAILTRANSFER_SOURCES. This would be more convenient if possible

[2021-07-26 17:27] geoo89 commented on #329
#6 suggests: "I assume if the survey is embedded within an article the page breaks are ignored."

[2021-07-26 17:40] geoo89 opened #350 "Help text for polls/survey/quiz input fields"
From #6: "All fields should have optional, editable information / help texts (e.g. "check all that apply") which appear on HTML view as italic, light gray text and in javascript enabled views as an "i" with a circle around it. Text will appear on hover."

This is currently not done; the help text field is ignored. Instead, we automatically infer this help text from the input type and optional/requ

[2021-07-26 18:15] geoo89 opened #351 "Feature image for survey/poll/quiz"
Currently, there is option to add a feature image (lead image) for survey/poll/quiz (see requirement in #6)

[2021-07-26 19:05] geoo89 commented on #6
Most of this is done, one or two things remain and issues have been created.

Before I can close this, we need to discuss:

- "There should be start button to start the quiz (with custom text)". We have a different design:
![image](https://user-images.githubusercontent.com/678199/127044139-d000943b-becc-4d1e-bad7-6cd994faa2f4.png)
No custom text, but the poll title instead.

- The option to have a

[2021-07-26 19:19] cbunicef commented on #329
We decided that after the page break the user would go to another page of the survey. So

P1 - embedded
P2 - separate page
P3 - separate page

etc

[2021-07-26 19:27] #9 closed

[2021-07-26 19:28] geoo89 opened #352 "Documents in articles as button"
From #9: "When documents are added as part of the body of a text, they appear as a button, rather than hyperlinked text."

[2021-07-26 19:48] geoo89 opened #353 "Anonymous & no multiple submissions for polls/surveys"
(From a discussion in #5)

The combination "allow anonymous user submission" with "don't allow multiple submissions" is tricky, as there's (by definition) no clear means to identify an anonymous user. Can we find an acceptable proxy for the identity of an anonymous user to make this combination reasonably meaningful?

Until we have found such a solution, we should have a validation step in the bac

[2021-07-26 19:50] geoo89 commented on #5
Closing this, the question discussed in the comments is Issue #353 now.

[2021-07-26 19:50] #5 closed

[2021-07-26 20:06] cbunicef commented on #353
I would assume this is possible through cookies on smartphone/tablet/PC, but for feature phones it's not possible?

I don't have an issue with a single device identifying as a new anonymous user after clearing cookies.

[2021-07-26 20:19] geoo89 opened #354 "Page breaks crash quizzes/surveys"
If multi-step is enabled, each question is on a new page, and everything works fine (manual page breaks are ignored).

If multi-step is disabled, and a manual page break is inserted somewhere in a quiz/survey, the page crashes.

Should be fixed or disabled (I don't see page breaks in the requirements, but I'm not sure).

[2021-07-26 20:46] geoo89 opened #355 "Back buttons for landing pages of embedded survey/poll/quiz"
when embedded in an article:
- The survey back button (inconsistently located and named "Get started") takes you back to the standalone survey (for quizzes and polls it takes you back to the article)

when embedded in a section:
- Back button takes you back to standalone poll/survey/quiz

[2021-07-26 20:48] geoo89 commented on #354
Environment:

Request Method: GET
Request URL: http://iogt-django-dev.idems.international/en/sections/questionnaire-testing/skip-logic/quiz-manual-page-breaks/

Django Version: 3.1.12
Python Version: 3.6.9
Installed Applications:
['home',
 'search',
 'iogt_users',
 'comments',
 'iogt_content_migration',
 'questionnaires',
 'messaging',
 'django.contrib.humanize',
 'wagtail_localize',
 'wagtail_loc

[2021-07-27 10:28] #336 closed

[2021-07-27 11:40] geoo89 opened #358 "Skip logic design questions"
From #6: "Positive number, radio buttons & drop down should provide options for skip logic within the survey configuration."

Is this accurate?
- I assume skip logic for positive numbers should be by equality?
- What is the rationale for choosing "positive number", but not "number" or the other text input fields? Should skip logic be disabled for all other field types?
- In particular, can we disa

[2021-07-27 12:19] geoo89 opened #359 "Back buttons"
The Figma designs specify a back button for sections, articles, and survey/poll/quiz (when they are not embedded) and also the search results page.
It is not specified where this button takes you.

Should they take you to the previous page you were on, or the parent section that the page is part of?
This might not always be the same.
What about the search result page?

Current state: survey/poll/q

[2021-07-27 12:21] geoo89 opened #360 "Poll results for input type checkboxes"
For input type checkboxes (and multiple select), poll results are displayed as lists, rather than aggregating the elements of the list, see example where the answer options were 1, 2 and 3
![image](https://user-images.githubusercontent.com/678199/125670929-20feeb02-5ba5-48e9-8a50-743c3fe16d0d.png)

[2021-07-27 12:26] geoo89 opened #361 ""Correct answer" hint in CMS for quizzes"
Hint for "correct answer" is "Comma separated list of choices. Only applicable in checkboxes, radio, dropdown and multiselect."

This is not fully accurate: For text it is a string, and for checkbox it is on/off.

Proposal: "The correct answer/choice(s). For checkboxes: a comma separated list of choices. For checkbox: Either "on" or "off"."
Note: multiselect is not mentioned as we will disable it

[2021-07-27 12:38] geoo89 opened #362 "Start button for survey/poll/quiz"
From #6: "There should be start button to start the quiz (with custom text)".
We have a different design:
![image](https://user-images.githubusercontent.com/678199/127044139-d000943b-becc-4d1e-bad7-6cd994faa2f4.png)
No custom text, but the poll title instead.

From #5: The option to have a click-button to begin or direct display (either onto the body of the article as an optional content module or

[2021-07-27 12:45] geoo89 commented on #157
Everything remaining is part of a new issue now.

[2021-07-27 12:45] #157 closed

[2021-07-27 12:45] #272 closed

[2021-07-27 12:45] #156 closed

[2021-07-27 13:08] cbunicef commented on #359
For a few reasons I think the Back button at this point doesn't make sense:

1. If the Back button takes the user "up" the tree, then if a user is linked to a leaf on a different branch they won't be able to expect where the back button will take them
2. If the Back button goes to the last page viewed, then it's just duplicating the browser back function
3. From a digital literacy standpoint, I do

[2021-07-27 14:14] geoo89 commented on #359
Thanks for clarifying, I agree that the back button will either be redundant with the browser back button, or not entirely predictable for the user (in case it takes them to the parent in the page tree). I'll make an issue to remove it for 2.0.

My understanding was that this button should take you back to the start page of the s/p/q (for standalone s/p/q), or to the article/section that the s/p/q

[2021-07-27 19:27] geoo89 opened #364 "Remove "back" button from survey/poll/quiz start page"
They currently don't take you back, and as per #359 are not needed.

[2021-07-27 20:42] geoo89 opened #365 "Disable skip logic except for dropdown/radio in multi-step surveys"
Skip logic (i.e. choosing to end the survey or go to a specific question) should only apply for (1) radio/dropdown input types in (2) surveys with (3) multi-step enabled.

For other input types, for quizzes, and for surveys without multi-step enabled the skip logic dropdown (as part of the choices) should ideally be disabled/not shown, but at least be ignored. If only ignored, there should be a hi

[2021-07-27 20:53] geoo89 opened #366 "Compile .po files for localization"
- Compile translation spreadsheets into po files
- Match/modify translatable strings in the code with those in the po files
- Identify any missing strings still to be translated

[2021-07-27 20:58] geoo89 commented on #301
This is partially fixed by #341: Answer options are not marked as a required field anymore (except for checkbox).

TODO:
- don't require answer options for 'checkbox' either
- Ideally: Disable them altogether for all input types except checkboxes, multiple select, dropdown, radio

[2021-07-28 09:50] #321 closed

[2021-07-28 12:23] #339 closed

[2021-07-28 13:12] geoo89 opened #370 "Flat menus appear multiple times in desktop view"
As by the design specification, flat menus are floating at the bottom (on js mobile devices) or appear twice (no-js devices).
In the desktop view, they should appear in the left column. Currently, however, a second instance also appears in the central column. This should be hidden.

[2021-07-28 13:15] geoo89 opened #371 "Flat menu color scheme"
On mobile, they are blue, on desktop grey, as specified.

However, the same logos (of the same colors) are used in both instances, so e.g. white logos that work on the blue background don't work on the grey background.

[2021-07-28 13:18] #345 closed

[2021-07-28 13:27] geoo89 opened #372 "Behavior for pages not available in all languages"
For a given page, the language select dropdown only offers the languages that this article is available in.

If a user lands on a page in a language they don't speak, they might want to change the language so they can navigate the page.
Should we consider this case and instead of not offering all languages, rather redirect to the home in the language of choice, or a page indicating that this artic

[2021-07-28 18:00] geoo89 opened #373 "Update list of available locales"
We should have:

English
Spanish (Latin America) - es
French (West African, DRC) - fr-CG
Portuguese (Angola, Mozambique) - pt-MZ
Arabic (Morocco) - ar-MA
Swahili (Kenya) - sw-KE
Chichewa (Malawi, Zambia) - ny-MW
Kinyarwanda (Rwanda) - rw-RW
Ndebele (Zimbabwe) - nr-ZW
Shona (Zimbabwe) - sn-ZW
Kirundi (Burundi) - rn-BI
Malagasy (Madagascar) - mg-MG
Nepali (Nepal) - ne-NP
Urdu (Pakistan) - ur-PK
Kich

[2021-07-29 05:17] sheralim012 commented on #354
@geoo89 as far as I know, this was discussed before and multi-step and page break work together or not at all

- if page break is enabled for any question and multi-step is disabled then it will crash
- I think a simple solution to this is to add a validation check to enable multi-step if page break is enabled for at least one question (#377 )

[2021-07-29 07:24] sheralim012 commented on #365
we can add help text for skip logic field, e.g.,

This is used to add choices for field type radio, checkbox, checkboxes, and dropdown only. This can be used to skip questions and skipping is only allowed for radio and dropdown.

something like this can be added as help text

[2021-07-29 10:42] cbunicef commented on #365
I think we had said that skip logic will force multi-step on feature phone, but on smart phone multi-step is not required for skip logic. Or maybe I’m misremembering?

We should also have it possible for checkbox (single)

Christopher Brooks
Internet of Good Things<https://unicef.sharepoint.com/teams/PD-IGT/> – Global Lead

Email: ***@***.***

________________________________
From: Georg Os. ***@*

[2021-07-29 16:01] dannyparsons opened #379 "Search results should only show results for pages in the same language"
Currently, it appears that results from a search are not restricted to the language the site is currently being viewed in but show results across languages. The search results should only show pages in the language the site is currently in.

@ehmadzubair Could you look into this?

[2021-07-29 16:20] dannyparsons opened #380 "Remove "© The Internet of Good Things"?"
I think there was at some point a discussion about removing the text "© The Internet of Good Things" that appears at the bottom of every page. Although this is on current v1 sites, I think it was mentioned that there isn't a formal copyright in place for "The Internet of Good Things".

@cbunicef Could you confirm whether this should stay or be removed/replaced?

[2021-07-29 16:38] dannyparsons commented on #372
I agree the dropdown should always show all available languages.

If the current page isn't available in the newly selected language then I suggest redirecting to the home page.

[2021-07-29 16:43] dannyparsons commented on #333
Language selection now functional. Further improvements are discussed in #372

[2021-07-29 16:43] #333 closed

[2021-07-29 16:49] #108 closed

[2021-07-29 16:49] #285 closed

[2021-07-29 17:25] dannyparsons opened #381 "Wrong text colour when hovering on some buttons"
For some buttons e.g. the "Create your account" button on the login page, when you hover on it the button colour changes to black and if the text is also black the text is no longer visible. I've noticed this on two buttons which have a white background (also on the "Login" button on the Create your account page.

I suggest that for buttons with white background and black text where the button col

[2021-07-29 17:40] #75 closed

[2021-07-29 17:45] dannyparsons opened #382 "Home Featured Content > Page Button links should display as buttons"
A "Page Button" item added to the "Home Featured Content" field of the homepage should display as a button. It currently displays the text but not with the button.

e.g. "Know Your Rights" below is a "Page Button" item and should display as a rounded type button in the same style as other buttons on the site.

![image](https://user-images.githubusercontent.com/11214914/127539723-73a3f356-d78d-4a7d

[2021-07-29 17:55] #29 closed

[2021-07-29 21:52] #360 closed

[2021-07-29 21:52] #361 closed

[2021-07-29 21:52] #364 closed

[2021-07-29 21:52] #365 closed

[2021-07-29 22:13] geoo89 commented on #295
This is done. There are two bugs documented in #319.

[2021-07-29 22:13] #295 closed

[2021-07-29 22:46] #354 closed

[2021-07-29 22:50] geoo89 opened #383 "Required fields when skipping to end of survey/quiz"
When a question with a required field is skipped using skip logic, and the end of survey/quiz is reached, rather than the responses being submitted, the user is presented with all input fields and a validation error below those fields that were required but got skipped.

If possible, the "required" should be ignored in this case.

If not, a temp solution could be that no required fields are allowe

[2021-07-30 06:49] ehmadzubair commented on #379
Will do

[2021-07-30 06:53] ehmadzubair commented on #381
@adnanzahid89 can you look into this?

[2021-07-30 06:54] sheralim012 opened #384 "Polls and surveys content migration from v1 to v2"
## Rough mapping

### For Polls
v1 <==> v2
polls_questions <==> questionnaires_poll
polls_choice <==> questionnaires_pollformfield

in v1 polls_questions has an attribute allow_multiple_choice which can be used to map to appropriate fields in v2
if allow_multiple_choice is true then field will be checkboxes
if allow_multiple_choice is false then there are two cases
  - poll question has 2 choices

[2021-07-30 06:54] ehmadzubair commented on #381
@azahid89 can you look into this?

[2021-07-30 06:56] AdnanZahid89 commented on #381
Sure let me

[2021-07-30 06:59] azahid89 commented on #381
Sure let me check this

[2021-07-30 09:33] dannyparsons opened #385 "Like and Reply buttons should be visible on comments"
"Like" and "reply" features were implemented in the comments model but seem to be hidden in the current design. They need to be made visible again and functioning.

@ehmadzubair please take this up.

[2021-07-30 15:11] cbunicef commented on #372
I would prefer to have a page informing that there is no content in this language, because I would always like users to have an expectation of where they will end up after making a navigation choice.

If we send them to the content when there is content, or the homepage when there is no content, then they don't know what will happen when they click the language drop-down.

On the "no content" page

[2021-07-30 16:34] cbunicef opened #386 "No description visible when embedding quiz"
Did we decide against including the description when the quiz is embedded? I'm forgetting the details of this conversation.

[2021-07-30 17:03] cbunicef opened #387 "Valid locations for creating content pages"
We discussed the other day only allowing articles/surveys/polls/quizzes etc to be created as pages below sections, and not below other content pages.

I'm realizing that when we want to embed a survey in an article this causes issues:

1. Create article in section
2. Create survey in section
3. Add content block in article embedding survey
4. Survey is now embedded in content block
5. Survey is al

[2021-07-30 18:52] cbunicef commented on #386
Also question labels are not appearing:

![image](https://user-images.githubusercontent.com/30042226/127698879-972a389c-27f9-4475-9ea1-4bf50e90009c.png)

[2021-07-30 19:01] cbunicef opened #388 "Text on quiz is too small"
![image](https://user-images.githubusercontent.com/30042226/127699740-b3c02781-923d-42ab-9857-86ad45301e35.png)

Users with vision difficulties will have a hard time reading this.

Can we please try increasing to the size of normal article text and see if that causes any problems?

[2021-07-30 19:04] cbunicef opened #389 "Commas in quiz answer option text break option into multiple pieces"
![image](https://user-images.githubusercontent.com/30042226/127700233-ffaad9cb-5a13-4b5e-b81c-8ac7cd243fe6.png)

![image](https://user-images.githubusercontent.com/30042226/127700261-55e66242-d5f2-43ab-b9be-e35c88b15d85.png)

in this quiz: http://beta.iogt.site/en/sections/your-health/mental-health/mental-health-trivia/

[2021-07-30 20:00] cbunicef opened #390 "Header content block text is not larger than paragraph content block text"
Input

![image](https://user-images.githubusercontent.com/30042226/127705754-89f04ba0-8bb6-4db8-a213-cf2562a841dc.png)

Live article

![image](https://user-images.githubusercontent.com/30042226/127705725-6ec2fb95-6f98-4ded-9f79-698b7706b424.png)

[2021-07-30 21:08] cbunicef opened #391 "Radio button questions in quiz use AND not OR logic for correct answers"
Input:

![image](https://user-images.githubusercontent.com/30042226/127711536-892ded75-daad-4521-b260-7e7fff69c7bb.png)

Live quiz:
![image](https://user-images.githubusercontent.com/30042226/127711549-764a7f57-4cab-4951-9233-e5370ba6d8e0.png)

The question requires ALL options to be selected to be correct. For Radio button questions if the user selects ANY of the correct answer options the answer

[2021-07-31 20:41] geoo89 commented on #386
This is already fixed in dev, the description and labels are there for embedded quizzes now.

[2021-07-31 20:41] #386 closed

[2021-07-31 20:47] geoo89 opened #392 "Desktop view: Left menu misplaced on search landing page"
The left menu now appears squished at the bottom of the middle column, rather than in the left column as intended:
![image](https://user-images.githubusercontent.com/678199/127752086-850a386b-5ac5-40c0-ba2a-b3708c38ccc3.png)

There also is an error: "GET /static/css/section.css HTTP/1.1" 404

[2021-07-31 20:49] geoo89 opened #393 "Desktop view: Language select menu sometimes missing"
For example on /en/users/profile/ or the search landing page.

[2021-07-31 21:08] geoo89 opened #394 ""See results" button resets language"
This button is seen after an unsuccessful search.

`search/templates/search/search.html`

[2021-07-31 21:47] geoo89 opened #395 "Translations for static text"
Some texts in the code differ from the translations provided to us (see `locale/`).
Some can be removed, some can be changed, likely some will need to be newly translated.

Current status: https://docs.google.com/spreadsheets/d/1cseFwHlzs37QIncV8-vLiYQgON15ZtRk8ogEUhiFtIo/edit?usp=sharing

[2021-08-02 06:07] ehmadzubair commented on #385
I'm starting work on this

[2021-08-02 08:13] ChrisMarsh82 commented on #390
These should be specified on the style sheet. If not will need to be moved to 2.0.1

[2021-08-02 08:15] ChrisMarsh82 commented on #388
Check on the style sheet. Move to 2.0.1 if not

[2021-08-02 08:25] ChrisMarsh82 commented on #362
Page button may be sufficient. To check with Chris Brooks

[2021-08-02 10:10] ChrisMarsh82 commented on #383
use a temporary solution for 2.0, revisit for 2.0.1

[2021-08-02 10:14] ChrisMarsh82 commented on #388
https://www.figma.com/file/4QtqewQnYxgFcjVcWd0OgR/UI-Design-(Main)?node-id=490%3A4237

[2021-08-02 10:26] geoo89 opened #397 "Migrate users from v1 to v2"
Details and timeline TBD

[2021-08-02 10:53] ehmadzubair commented on #393
Please assign this to me

[2021-08-02 11:01] ehmadzubair commented on #388
@azahid89

[2021-08-03 07:33] ehmadzubair commented on #13
@ChrisMarsh82 can you have someone send in the design with a different theme color? That'll help us understand where all this change needs to be done.

cc: @azahid89

[2021-08-03 07:41] ehmadzubair commented on #234
Markdown blocks have a different syntax for "bold"-ing  text. It's done with a double asterisk. For example: **This is bold**

[2021-08-03 07:43] ehmadzubair commented on #17
@ChrisMarsh82 can we do a discussion on this some time?

[2021-08-03 07:45] ehmadzubair commented on #37
This functionality is done already. The only thing probably left in this is to create a user group for community moderators. @ChrisMarsh82 can you close this ticket and create one for Community Moderator user group which only has access to the comments section on the admin side bar?

[2021-08-03 07:54] #393 closed

[2021-08-03 07:54] #394 closed

[2021-08-03 07:56] ehmadzubair commented on #27
@ChrisMarsh82 Can you set up a meeting to go over with (Ideally with Laurie)?

[2021-08-03 08:03] ehmadzubair commented on #30
@ChrisMarsh82 can you help set up this meeting?

[2021-08-03 08:10] ehmadzubair commented on #219
There are a couple of approaches we can take here:
1. Add a css "class" to all the hyperlinks that haven't been cached by Workbox. This will be a frontend implementation and will add a class to all the a tags that have a valid url

2. Do the heavy lifting for this on the backend where cached urls are persisted on the backend and their rendering is modified based on their status.

[2021-08-03 08:10] ehmadzubair commented on #44
@ChrisMarsh82 can you help break this down into simpler tickets?

[2021-08-03 08:11] ehmadzubair opened #403 "ServiceWorkerView is throwing an exception everytime"
[code]

[2021-08-03 08:13] ehmadzubair commented on #140
I think we can close this ticket. There is another ticket which is related to the bugs from the RapidPro bot.

cc: @geoo89

[2021-08-03 08:13] #140 closed

[2021-08-03 08:24] ehmadzubair commented on #138
Second with Ian said above. Might have to check with UNICEF what they use to send emails in V1.

[2021-08-03 08:25] ehmadzubair commented on #138
Would also want to check what are the touchpoints where emails are sent. Currently, the only place we send emails is in Forgot Password.

[2021-08-03 09:00] #298 closed

[2021-08-03 09:00] ehmadzubair commented on #176
@sheralim012 has done this. I think we can close this

[2021-08-03 10:55] geoo89 opened #404 "Renamed locales for migration from v1 to v2"
PR #396 renames two locales from a non-standard code used in V1 to the ISO code.
These are (see [commit](https://github.com/unicef/iogt/pull/396/commits/2a55470fad3dfaab4adc364cbbcefbe87dc56ca5)):
- Shona: sho -> sn
- Chichewa: ch -> ny

Once this PR is merged, the content migration script should be mindful and remap these as well.

[2021-08-03 11:01] geoo89 opened #405 "Messaging (chatbot) URLs broken"
/messaging/ and the sub-URLs currently give error 404/500.

[2021-08-03 11:30] #176 closed

[2021-08-03 20:17] #384 closed

[2021-08-03 20:29] #381 closed

[2021-08-03 20:51] geoo89 opened #407 "Number fields in multi-step surveys crash"
Steps to reproduce:
- Make a survey with multi-step enabled
- add a number field.
- Enter any number and submit the survey
--> Object of type 'Decimal' is not JSON serializable

[code]

[2021-08-03 21:02] geoo89 opened #408 "Validation error in middle of survey messes up pages and causes crash"
Steps to reproduce:
- make a multi-step survey with 3 pages, with the input field on page 2 being required. Example: http://iogt-django-dev.idems.international/en/sections/questionnaire-testing/survey-3-pages/
- Go through the survey. Answer Q1, submit. Leave Q2 blank, submit.
- You'll get a validation error saying this field is required. Fill something in and submit again.
- You'll end up on page

[2021-08-03 21:02] #383 closed

[2021-08-03 21:09] geoo89 opened #409 "Remove "Enter your name" field from registration"
![image](https://user-images.githubusercontent.com/678199/128086414-123abfc2-bde1-41dd-bf81-71ca081e7bcf.png)

Country offices should decide what to ask for in the registration survey, including whether to ask for a name or not.

[2021-08-03 21:15] geoo89 commented on #387
PR #401 adds an index page for surveys/polls/quizzes, which should solve this.

Alternatively, it's also possible to make a draft section somewhere containing live content: This content will not appear in any section, but can be referenced inside of articles. For s/p/q the index page is more elegant, for articles that should be referenced but not appear in any section this is still the way to do i

[2021-08-04 13:21] #405 closed

[2021-08-04 23:16] cbunicef opened #412 "Cannot preview article before saving draft or publishing"
Until saving/publishing the Preview button returns an error. Better to only show the preview button once the article is saved/published.

[2021-08-04 23:48] cbunicef opened #413 "Error when Previewing Section"
This is for a Section which has already been Published:

http://central.iogt.site/en/sections/your-health/mental-health/

[code]

[2021-08-04 23:50] cbunicef opened #414 "URGENT: Section name not visible when viewing section"
http://central.iogt.site/en/sections/your-health/mental-health/

![image](https://user-images.githubusercontent.com/30042226/128269872-c794263b-db6a-4c00-8f66-e2084d01d3c7.png)

[2021-08-05 06:05] sheralim012 commented on #414
@ehmadzubair

[2021-08-05 06:05] sheralim012 commented on #413
@ehmadzubair

[2021-08-05 06:05] sheralim012 commented on #412
@ehmadzubair

[2021-08-05 06:25] ehmadzubair commented on #412
Artciles can be previewed before publishing and a bug was preventing it. This will be fixed in #415

[2021-08-05 11:16] cbunicef opened #420 ""Leaving site" warning shows when user follows an "external link" which directs to the IoGT site"
Steps to reproduce

1) create External Link in article that links to a page within the IoGT site
2) click the link in the article
3) "Leaving site" warning appears

Desired behavior

1) create External Link in article that links to a page within the IoGT site
2) click the link in the article
3) No "Leaving site" warning when link destination is the same ... domain subdomain? Not sure about this on

[2021-08-05 11:41] cbunicef opened #421 "Anchors are removed from URLs when using External Links"
Created an external link to

http://central.iogt.site/en/sections/your-health/mental-health/keeping-mentally-healthy-self-care-tips/#its-going-to-be-alright

After the "Leaving site" warning, the destination URL is

http://central.iogt.site/en/sections/your-health/mental-health/keeping-mentally-healthy-self-care-tips/

[2021-08-05 15:07] cbunicef opened #422 "Quiz - Contextual messages based on right/wrong answer and quiz score"
As an Admin I want to be able to show customized text differently to a user whether they gave a correct or incorrect answer. This might be providing different more information after correct answers (or maybe no message), and correcting the quiz-taker in a supportive way when they are incorrect. Providing a different message based on quiz score would also enable eg "75% right, congratulations!" vs

[2021-08-05 15:55] cbunicef commented on #338
Can we make this simpler by making it more clear? I feel a bit good about this format:

You chose:

I'm getting feedback on accessibility for screen reader users.

[2021-08-05 16:03] cbunicef opened #423 "Quiz - option to not display feedback on unselected answers"
As an learning-content Admin I want to have the option to tell users their response was incorrect, but not provide them the correct answer. This way they can re-take the quiz without collecting the correct answers from the quiz itself.

This could be in settings tab.

[2021-08-05 18:12] geoo89 commented on #414
If a lead image is present, should the section title appear above, below, or overlaid over the image?
In case of the latter, I assume it'd be necessary to also specify a font color in the CMS for that particular overlay, as a good choice depends on the specific image?

[2021-08-06 08:47] #412 closed

[2021-08-06 08:47] #413 closed

[2021-08-06 09:16] geoo89 opened #424 "Indicate version (commit) somewhere in the codebase"
When updating or testing the site, it'd be good to know which commit it was deployed from.

Can we have e.g. a comment somewhere containing the version, so it's not user facing but can be seen by e.g. look at the page source, for example in `iogt/templates/base.html`?

[2021-08-06 10:23] ehmadzubair commented on #414
@geoo89 should I add the font color to the admin too?

[2021-08-06 11:22] #408 closed

[2021-08-06 11:22] #424 closed

[2021-08-06 11:22] #407 closed

[2021-08-06 11:59] geoo89 commented on #414
I'd say yes but let wait for @cbunicef to confirm.

[2021-08-06 12:36] #337 closed

[2021-08-06 12:52] geoo89 opened #426 "Localize/remove reporting comment confirmation page."
When reporting a comment, the user is directed to a confirmation page making more clear what it means to report a comment.
The prompt should be: "Are you sure you want to report this comment as inappropriate?" but we don't have translations for it.

Options for now:
1. No confirmation page. Users might click the Report button accidentally and/or without being sure of its meaning.
2. Leave the text

[2021-08-06 13:28] geoo89 commented on #372
The challenge with a custom page is that we don't have localized strings for this.

The current implementation, meaning that only languages for which an articles is available show up in the dropdown, seems to be the best solution right now, until we have translated strings for this?

[2021-08-06 13:43] geoo89 opened #427 "Localization for media download"
Media are embedded and should display like that on javascript enabled devices.
As an alternative, below it is a piece of text with a download button, as follows: "If you cannot view the media above you can download it."

We don't have translations for this. We also don't have translations for "Download".

Options:

1. display a button whose text is the title of the video/audio
2. display the text

[2021-08-06 14:12] geoo89 opened #428 ""Site as an app" translation strings"
When installing the site as an app, the following strings are used:
- This appears to be your first visit here. Our website is also available as a downloadable app.
- Would you like to download it?
- Download
- Your app is now ready to install. If you are using an Android device choose 'Add to home screen'. If you are using a iOS device, you can install by clicking 'Share', scrolling down and tapp

[2021-08-06 14:55] dannyparsons commented on #428
I see advantages to implementing option 1, even if we did have the translated strings. All these texts appear in the same place and I think it would be beneficial for each country to be able to customise this e.g. as a special page where they could also add formatting etc.. For example, do they want to include the iOS instructions or not? Or provide additional messages based on the types of device

[2021-08-06 16:19] geoo89 opened #429 "Localization for site redirection page"
When leaving the IoGT site to an external link, the user is presented with a page that reads:

"You are leaving the <b>Internet of Good Things</b> to visit an external website and standard data charges by your network provider might apply
[Continue to external site] [Back]"

We don't have translations for this string nor the "Continue to external site".
In v1, this text was embedded in a (custom?)

[2021-08-08 13:59] geoo89 opened #430 "Translations for comments/search strings"
These strings we don't have translations for nor anything close. For each, possible workarounds are listed.
- [ ] **A** _moderator_: This appears next to comments to indicate the comment is from a site moderator. We could (1) use a symbol to indicate moderators, (2) don't indicate moderators, or (3) leave it in English
- [ ] **B** _New comments have been disabled for this page._: This appears when

[2021-08-08 14:19] geoo89 opened #431 "Partially translated strings from Wagtail/Django"
Django and Wagtail come with strings that are available in a variety of languages (see [here](https://github.com/django/django/tree/main/django/conf/locale)), but not all the languages we aim to support:

These strings we don't have translations for nor anything close.
- [x] **A** _Sign Out_
- [x] **B** _Are you sure you want to sign out?_
- [x] **C** _You have signed out._
- [x] **D** _This field

[2021-08-09 08:19] ChrisMarsh82 commented on #414
Add title above image.

[2021-08-09 08:20] geoo89 commented on #414
For reference, this is what it looks like in v1:
![image](https://user-images.githubusercontent.com/678199/128677621-67a5b90b-5faa-4377-a94d-e12cc18ac958.png)

[2021-08-09 08:23] geoo89 commented on #409
"Change your profile" button should allow to re-do the registration survey in the future.

For now, remove the "Change your profile" button.

[2021-08-09 08:58] ChrisMarsh82 commented on #44
@dannyparsons  will check issues and create separate issues if needed

[2021-08-09 10:53] ehmadzubair commented on #397
What all do we need to migrate for users?
- User Comments
- User comments feedback
- User Poll attempts
- User Survey attempts
- User profile information
- User read/unread articles

We should also converge on the flow to reset password as part of this ticket.

[2021-08-10 05:42] ehmadzubair commented on #349
This would mean that we'll have to create a central repository (of sorts) to record/update all the sources. This will have to run as a separate service that can keep every website in sync.

I feel like this is going to add an extra node on the infrastructure and the maintenance overhead would outweigh the pros. What do you think?

[2021-08-10 10:01] ehmadzubair opened #440 "Fix the test suite"
The test suite can't run right now because of the following error:

[code]

[2021-08-10 10:08] ehmadzubair commented on #420
You can add internal links using the "Internal Link" tab from the link. The external link tab is designed to show the intermediate screen.

![Screenshot 2021-08-10 at 3 04 18 PM](https://user-images.githubusercontent.com/10597112/128848772-675ccc27-0e12-4911-bf50-5ff0a68af9e3.png)

Does this work?

[2021-08-10 10:15] geoo89 commented on #388
PR #398 increases the size of the text within the selection options:
![image](https://user-images.githubusercontent.com/678199/128849745-ec5db0f8-ab0f-403f-b266-b858fa92b8c6.png)

I assume we also want to increase the text size of the prompt?

[2021-08-10 10:16] #385 closed

[2021-08-10 10:16] #392 closed

[2021-08-10 10:25] ehmadzubair opened #442 "As a Moderator, I should be able to delete a comment from the IoGT frontend"

[2021-08-10 10:25] sheralim012 commented on #166
this has already been implemented

<img width="1382" alt="Screenshot 2021-08-10 at 3 25 09 PM" src="https://user-images.githubusercontent.com/49383675/128851286-6e322b59-624d-4267-880d-b30f875b08ba.png">

[2021-08-10 10:36] geoo89 opened #443 "Reply to comment page"
![image](https://user-images.githubusercontent.com/678199/128852639-2cb8b775-9024-4e72-a7b5-5a4456cd273a.png)

- [ ] Remove the strange icon
- [ ] Use the same date format as in the main comment thread
- [ ] Display the username of the poster rather than firstname/lastname

[2021-08-10 12:04] dannyparsons opened #445 "Segment User Groups feature from v1"
v1 has a "User groups for segments" option under Settings. It appears to be a way of defining groups of users. The interface for this is not very usable as it just gives a list of all users for multiselect. I cannot see how segments can be used after being defined.

The standard way of doing this in Wagtail as is implemented in v2 is to define Groups e.g. moderator, which define permissions, and t

[2021-08-10 12:12] dannyparsons opened #446 "Security questions at login for password reset"
v1 has a "SECURITY QUESTION SETTINGS" under Settings > User Profile Settings. This appears to be for enabling an option to add security question(s) when a user registers on the site, which is intended to be used for allowing users to reset a forgotten password.

Am I not sure exactly how this feature works in v1 and if it is functional. It may be a useful feature for v2. It relates to the discussi

[2021-08-10 12:14] dannyparsons opened #447 "Wagtail segments feature"
From #44:

Is this a useful feature to consider for v2?

[2021-08-10 12:16] dannyparsons opened #448 "Persona feature"
From #44:

Is this a useful feature to consider for v2?

[2021-08-10 12:17] dannyparsons commented on #44
Added new issues #445, #446, #447, #448 for anything unresolved here.

[2021-08-10 12:17] #44 closed

[2021-08-10 12:27] dannyparsons opened #449 "Tag pages in v1"
v1 sites have a "Tag" page type, which can be linked to from articles. It is not clear what tag pages are for and what this feature does. It does not appear to have any visual change on v1 sites.

Is this something that is needed at all for v2?

[2021-08-10 12:29] dannyparsons opened #450 "Reaction question pages in v1"
v1 sites have a "Reaction Question" page type, which can be linked to from articles. It is not clear what Reaction Question pages are for and what this feature does. It does not appear to have any visual change on v1 sites.

Is this something that is needed at all for v2?

[2021-08-10 12:30] dannyparsons commented on #17
@ehmadzubair I believe it was sensible to drop these features. They appear to all be non-functional features in v1. I have added separate issues to discuss personae, segmentation, tags and reaction questions in case they need to be discussed still.

Is there anything else here you think should be discussed before closing this issue?

[2021-08-10 12:41] ehmadzubair opened #451 "User export (CSV) is crashing when there is no registration survey"

[2021-08-10 12:55] ehmadzubair commented on #17
Nope :)

[2021-08-10 12:56] ehmadzubair commented on #443
@azahid89 can you take this on?

[2021-08-10 12:59] #143 closed

[2021-08-10 13:16] #403 closed

[2021-08-10 14:09] geoo89 commented on #414
Text is now overlaid over the image in white if an image is present, otherwise appears in black.
![image](https://user-images.githubusercontent.com/678199/128881957-960a9cd8-b292-494f-a1d4-916781fd7d78.png)
![image](https://user-images.githubusercontent.com/678199/128881993-bd501ff2-8cbf-4646-a783-a97d9c3a479f.png)

Leaving this open in case we still want to change this by e.g. giving the option t

[2021-08-10 14:24] #158 closed

[2021-08-10 14:24] #160 closed

[2021-08-10 14:42] geoo89 commented on #161
PR #452 does not add a site specific prefix, because we don’t have access to site or locale where filename is generated.
@dannyparsons I'll leave this open, please close if you think this is sufficient.

[2021-08-11 06:37] ehmadzubair commented on #397
@dannyparsons @geoo89 @ChrisMarsh82

[2021-08-11 07:55] geoo89 commented on #390
Now looks like this:
![image](https://user-images.githubusercontent.com/678199/128991705-4f1081bf-95c5-49ae-b916-b8c6c2d94208.png)

[2021-08-11 08:31] geoo89 commented on #421
Fixed by #444

[2021-08-11 08:31] #421 closed

[2021-08-11 08:34] geoo89 commented on #420
Internal links don't support anchors, but #444 fixes anchors being dropped from external links and skips the redirect page for external links if they go back to the IoGT site, so external links can now be used for this purpose.

One caveat here is that using external links that redirect to the IoGT site will require being change if an article is transferred to a different IoGT site (e.g. a country

[2021-08-11 09:12] #409 closed

[2021-08-11 09:20] geoo89 opened #457 "Language select dropdown only works for wagtail pages (e.g. articles)"
The language select dropdown changes the language of an article/section (i.e. wagtail content page) to the selected language.

However, for non-content pages (search, profile, chatbot, etc) it simply reloads the page in the same language, regardless of which language has been selected.

Phrasing from duplicate #501:

[2021-08-11 09:43] sheralim012 commented on #387
@geoo89 let me know if further work is required for this, otherwise we can close this.

[2021-08-11 09:43] sheralim012 commented on #387
@geoo89 let me know if further work is required for this, otherwise we can close this.

[2021-08-11 09:49] geoo89 commented on #387
I'm moving this to done but leaving it open, so we can get input on whether we should also have a hidden article index page, for articles that shouldn't appear in a section but only be references e.g. by a page button.

[2021-08-11 09:57] ehmadzubair commented on #397
@cbunicef @geoo89

Do we set the value of `has_filled_registration_survey` as `True` for all migrated users? This would mean that they wouldn't have to fill the survey if there is one.

[2021-08-11 10:11] sheralim012 commented on #380
@dannyparsons @cbunicef any update on this?

[2021-08-11 10:41] sheralim012 commented on #358
@geoo89 any update or finalized requirements for this?

[2021-08-11 11:29] sheralim012 commented on #391
user can select only one option for the radio field so correct option should be only one too.

for checkboxes user can select multiple options and multiple correct options can be given but answer will be considered correct if all of the correct options are selected (AND is used), let me know if we need to implement OR logic for checkboxes (consider answer correct if at least one correct option was

[2021-08-11 11:31] sheralim012 commented on #362
@ChrisMarsh82 any update or finalized requirements for this, otherwise we can close this.

[2021-08-11 14:19] ChrisMarsh82 commented on #450
Spoke to Chris Brooks - Wont add this feature in for now. Related Molo

[2021-08-11 14:20] geoo89 commented on #414
Fixed in 19db98191aeeaaa4bcc7637dd0f1ccaffb5a5c59 by putting the title below the image.

[2021-08-11 14:20] #414 closed

[2021-08-11 14:23] ChrisMarsh82 commented on #449
Make sure the data isn't lost in the migration process. Don't add the functionality.

[2021-08-11 14:49] ChrisMarsh82 commented on #387
Have option within the settings of the sections 'Direct display' (polls, survey quizzes), 'Do not display', 'Linked display'. Include in the table in the section.
This will allow us to simplify the authoring.

[2021-08-11 14:55] ChrisMarsh82 commented on #234
No need to support HTML however we will need to check migration keeps the format.

[2021-08-11 14:55] geoo89 opened #459 "Language picker hidden behind section image"
In mobile view, when viewing a section with a lead image, the languages in the language picker are hidden behind that image.
Note that this doesn't not happen for lead images of articles, only for sections.

![image](https://user-images.githubusercontent.com/678199/129052334-cf8d2c1b-ecf0-47c3-9451-c691f80a7c7e.png)

The lower one is also hidden behind the search bar in mobile:

![image](https://u

[2021-08-11 15:01] ChrisMarsh82 commented on #219
We will need to go with option 2 - this will allow us to decide whats cashed later down the line.

[2021-08-11 15:06] #148 closed

[2021-08-11 15:14] ChrisMarsh82 commented on #30
Will need to be able to delete:
Individual user data
Survey and quizzes over 30 days
A subset group users

[2021-08-11 15:18] ChrisMarsh82 commented on #17
All issues captured else where

[2021-08-11 15:18] #17 closed

[2021-08-11 15:23] ChrisMarsh82 commented on #13
David to speak to Ehmad explaining what is required here.

[2021-08-12 09:54] ChrisMarsh82 commented on #328
This is a wagtail issue. It would be a lot of work to change

[2021-08-12 10:10] ChrisMarsh82 commented on #350
Override default text if help text is entered.

[2021-08-12 10:29] ChrisMarsh82 commented on #370
It may be possible to get a floating header to work on feature phones.

[2021-08-12 17:52] geoo89 opened #464 "Specify font sizes for titles, headings and paragraph subheadings"
Currently, article titles, headings, as well as H2 blocks within a paragraph all have the same size:
![image](https://user-images.githubusercontent.com/678199/129040035-c462ce1f-5200-4d32-91ce-16abaf11d8ec.png)

Is this what we want?

(From what I see in the page source, the title is H1, the heading is a custom div, and a H2 in a paragraph is a H2, so at least in principle there shouldn't be an is

[2021-08-12 17:54] #390 closed

[2021-08-12 17:59] geoo89 commented on #397
Any user data that's in the v1 DBs should be saved in some shape or form.
So this should in particular include data from the v1 registration survey, even if we just store it in a table and don't do anything with it for now. (The registration survey in v1 is basically always defined as a subset of a set of available questions; if it contains e-mails, it might be worthwhile already transferring them

[2021-08-12 18:21] geoo89 opened #465 "Investigate storage format of poll/survey/quiz choices"
How are the choices of questions with multiple answer options stored for polls, surveys and quizzes?
How are the correct answers stored for quizzes?

In the input forms, these are (partially?) processed via comma separated strings. This is an issue if the choices contain commas themselves. While we should find a robust solution around this, the first step is to make sure no such comma separated st

[2021-08-12 18:46] cbunicef commented on #465
In data from V1 I've seen the standard comma be replaced by a unicode character looking the same but presumably not being recognized as a comma to separate values.

[2021-08-12 18:54] cbunicef commented on #328
This is not critical, especially if it's a lot of work.

[2021-08-13 05:56] ehmadzubair commented on #373
@geoo89 I presume this should be in progress now?

[2021-08-13 07:00] geoo89 commented on #302
For now, it's sufficient to only make those questions available in the dropdown that are part of the saved draft, as long as we make it clear to the user that when adding a new question, they have to save the draft first before it can be used in the skip logic.

[2021-08-13 07:14] ehmadzubair commented on #13
This is a much wider change that the theme. Colors needs to be customisable as much as possible. Ideally there should be a very detailed theme file which specifies the colors throughout the website. This needs to be set from the admin.

[2021-08-13 07:23] ehmadzubair commented on #465
Use a vertical pipe character to split options `|`

[2021-08-13 07:33] ehmadzubair commented on #234
@sheralim012 can you test a migration in which we have a bold tag in the v1 article. Please also make sure that we are migrating the paragraph from v1 to a paragraph on v2.

[2021-08-13 07:45] ehmadzubair commented on #350
Revisit the logic for the default text. We should document the cases that are already there and handled.

[2021-08-13 08:00] ehmadzubair commented on #301
## Either
"Hide" Answer Options

## OR (in the case of text,date etc.)
- Rename "Answer Options" to "Skip Logic options"
- Also, rename "Choice" to "Skip Value"
- Support skip logic for exact string match

[2021-08-13 08:07] ehmadzubair commented on #372
Go with the options @geoo89 has mentioned for now

[2021-08-13 08:30] geoo89 commented on #372
Remark: This is a temporary solution unless we have dedicated page to indicate that the page is not available in the language of choice.

[2021-08-13 08:42] geoo89 commented on #388
Fixed by #454

[2021-08-13 08:42] #388 closed

[2021-08-13 08:59] geoo89 opened #466 "Display reading progress in sections"
In the settings of the section, there is an option "SHOW PROGRESS BAR". If this is enable, your progress (i.e. how many articles in this section you have read) should be displayed.
This is currently not done (however the tracking of which pages have been read is already done in the background?)

Text to use (to allow localization): `You have read %(counter)s out of %(total)s`

Design reference:
![

[2021-08-13 09:45] #443 closed

[2021-08-13 11:07] ehmadzubair commented on #397
Data to port over specific to users:

- [ ] User Group Memberships
- [ ] User Group Permissions
- [ ] User Comments
- [ ] User Comment reports (flagged)
- [ ] User Poll Submissions
- [ ] User Survey Submissions
- [ ] User Profile Details
- [ ] User Wagtail Profile Details
- [ ] User Profile Settings

[2021-08-13 11:55] dannyparsons opened #467 "Navigating the site on a feature phone"
I am testing the dev site using an emulator on my phone running Opera Mini 4.5. When navigating using the keypad I have a visible mouse which I can move up/down/left/right across the site, see below:

**v2 dev site (mouse method)**
![image](https://user-images.githubusercontent.com/11214914/129352257-9f08f73f-511b-4943-9c45-e4c89cff941a.png)

Whereas on a v1 site there is no visible mouse and when

[2021-08-13 12:07] dannyparsons opened #468 "Text response options in surveys/polls/quizzes should be clickable"
Possibly related to the discussion in #467

When testing a quiz on an Opera Mini 4.5 emulator I noticed that for a checkbox question I can only select an option by clicking directly on the checkbox and not on the text. Whereas on the desktop/mobile version I can click on any part of the text of the response to select it. The same functionality should work on feature phones as well.

**Text next to

[2021-08-13 13:19] dannyparsons opened #469 "Poll results display in different order"
Poll results for a multiple choice question don't display in the same order as they are presented in the question, see below.

According to our Figma designs, the results should options should display in the same order as they appear in the question. Possibly they are currently ordered alphabetically?

![image](https://user-images.githubusercontent.com/11214914/129361990-e07142b8-aa96-4e47-a233-18

[2021-08-13 13:57] geoo89 commented on #353
Leaving this open but marking it as done. This can be closed once we confirm that the implementation via sessions keys is what we want. (It seems to be working fine.)

[2021-08-13 13:59] geoo89 commented on #182
User export doesn't include survey responses if they weren't made in the default language.

[2021-08-13 15:13] geoo89 opened #470 "Polls: Only one anonymous submission possible in total"
When not allowing multiple submissions, but allowing anonymous submissions, only one anonymous submission can be made in total, see e.g. http://iogt-django-dev.idems.international/en/sections/questionnaire-testing/anonymousmultiple-submissions/anonymous-single-submission/
I submitted one response anonymously. Now nobody else can submit any more anonymous responses (I tested on another device and D

[2021-08-13 15:39] dannyparsons opened #471 "Display of survey/poll/quiz if submission is prevented"
There are different cases this can happen and need to have the correct display:

1. If a survey does not allow multiple submissions and a submission has already been made then when you go to the page it should show the title, the description and the text "You have already completed this survey". See v1 implementation below.

![image](https://user-images.githubusercontent.com/11214914/129382849-3c3

[2021-08-13 15:58] geoo89 commented on #471
For reference, currently, in either case you are simply presented with the poll title and a submit button:
![image](https://user-images.githubusercontent.com/678199/129386489-f109af74-c3c1-4b0c-9932-5abc6757a0c3.png)

When embedded however, you still see the poll, but after submitting you're directed to a page that looks like the above.

I set up these polls for testing: http://iogt-django-dev.ide

[2021-08-16 08:19] ChrisMarsh82 commented on #464
@azahid89  Make title bigger, leave H2, H3, H4 the same. Heading same as H2

[2021-08-16 10:18] ChrisMarsh82 commented on #471
Quiz results can be completed in a separate ticket

[2021-08-16 10:28] ChrisMarsh82 commented on #449
Back up all tables not being used under another prefix.

[2021-08-16 12:25] sheralim012 commented on #234
* in V1, article body had paragraph as markdown and that's why we are storing those paragraphs as markdown in v2
and in v2 paragraph is RichTextBlock

* in v1 we were using a customized markdown block [see-here](https://github.com/praekeltfoundation/molo/blob/a46e6e63e5ae9525f077f3d548cc0b492f884b97/molo/core/blocks.py#L12) and modified in such a way to include and render HTML tags which is quite

[2021-08-16 13:06] ehmadzubair commented on #13
As part of this ticket, do the following:

- [ ] Fix website-wide structure of components so that paddings are predictable
- [ ] List down all the UI components that can be moved to theme
- [ ] Create an admin page where the theme can be set (preferably add images/screenshots in that screen)

cc: @azahid89

[2021-08-16 13:38] #6 closed

[2021-08-16 13:39] #10 closed

[2021-08-17 11:30] cbunicef commented on #234
We want to use the out-of-the box markdown block from Wagtail, which does include some HTML support (or at least it passes through some HTML eg span style)

[2021-08-17 13:45] ChrisMarsh82 commented on #467
This may be browser-related. Check different phones

[2021-08-17 13:54] ChrisMarsh82 commented on #429
Create an editable page.

[2021-08-17 13:59] ChrisMarsh82 commented on #428
Chris to ask country officers about this feature.

[2021-08-17 14:10] ChrisMarsh82 commented on #397
Admin should be able to decide whether users with V1 registration need to complete the registration survey. This can be done at migration at a user group level.

[2021-08-17 14:19] ChrisMarsh82 commented on #391
radio button uses OR logic - if the answer is one of the possible answers, it is correct.
Checkboxes only need AND logic for now.

[2021-08-17 14:28] ChrisMarsh82 commented on #358
a positive number, number, anything with a single item should support skip logic.
do not implement for quizzes.

[2021-08-17 14:41] ChrisMarsh82 commented on #355
embedded surveys back button to bring you back to the article, this should navigate back multiple pages in the browser.

[2021-08-17 14:44] ChrisMarsh82 commented on #317
This will now be customizable.

[2021-08-17 14:48] ChrisMarsh82 commented on #315
Change to True and false from on and off.

[2021-08-17 14:54] ChrisMarsh82 commented on #185
Investigate: can we identify free basics

[2021-08-17 14:59] ChrisMarsh82 commented on #328
As this is in wagtail we will not change this

[2021-08-17 14:59] #328 closed

[2021-08-17 15:00] ChrisMarsh82 commented on #318
As this is in wagtail we will not be changing this

[2021-08-18 09:15] ehmadzubair commented on #13
Thank you @azahid89

Let's start with the following changes
- [ ] Have uniform spacing throughout the website
- [ ] Create a themed button which can be used throughout the platform
- [ ] Create a themed anchor tag which can be used throughout the website
- [ ] Create a theme settings page on the admin panel where the styles can be added from

[2021-08-18 09:59] geoo89 commented on #429
Closing this, details about the next steps in #317

[2021-08-18 09:59] #429 closed

[2021-08-18 10:06] geoo89 commented on #317
Each country office should be able to customize this page, and create one for each of their locales.

At the minimum, there should be 3 text fields (defaults for English in quotes):
Main text: "You are leaving the Internet of Good Things to visit an external website and standard data charges by your network provider might apply"
Continue button text: "Continue to external site"
Back button text: "

[2021-08-18 10:14] geoo89 commented on #391
For now, in the Radio buttons case with multiple correct answers, highlight all correct answers in green.
The user scores one point if they got any of the correct answers.

The final design for highlighting correct/wrong answers will be determined later in #338

[2021-08-18 10:16] #318 closed

[2021-08-18 10:23] geoo89 commented on #315
- The two choices for input type "checkbox" should be labeled "true" and "false", and any hints or validation errors should read "true" and "false" as well.
- The labels of the two choices should be validated to be "true" and "false".
- Skip logic should be possible for this input type: If the choice label is "true", the logic is executed if the checkbox is checked. If the choice label is "false",

[2021-08-18 10:45] geoo89 opened #474 "Skip logic for quizzes"
How does the scoring and the results page work?

Skip by correct/wrong answer for checkboxes?

[2021-08-18 10:46] geoo89 commented on #474
This is on ice. We may revisit this if requested.

[2021-08-18 10:48] geoo89 opened #475 "Lenient checkboxes for quizzes"
A new input type for quizzes, that, like checkboxes, allows to select multiple answers, but the answer is considered correct if the user get a (non-empty) subset of the answer right.
Different scoring systems could also be considered.

[2021-08-18 10:48] geoo89 commented on #475
This is on ice. We may revisit this if requested.

[2021-08-19 18:37] geoo89 opened #477 "Localization for comment/conversation deletion"
Currently, it is possible to delete chatbot conversation threads.
It might be desirable to also allow users to delete their own comments.
Which, if any, of these features do we need?
The following strings are related to this, for which we have no translations:

- [ ] Are you sure you want to delete this conversation?
- [ ] Are you sure you want to delete this comment?
- [ ] Delete

Options:
- Disa

[2021-08-20 05:49] sheralim012 opened #479 "Back button on landing page of questionnaire added as child or embedded takes you back to questionnaire"

[2021-08-20 11:10] sheralim012 commented on #350
existing cases:
- if a question is optional then only show "OPTIONAL" and nothing else
- else if field is dropdown or radio then show "SELECT ONE"
- else if field is checkboxes then show "CHECK ALL THAT APPLY"
- else if field is checkbox then show "CHECK IF APPLY"

TODO: override above logic if help text is given for a question

@geoo89 @ChrisMarsh82 let me know if I missed a case or any other cha

[2021-08-23 06:19] ehmadzubair commented on #349
On further research, it might be impossible to change this on the fly without forking Wagtail Transfer.

That's majorly because the `WAGTAILTRANSFER_SOURCES` setting is accessed from the `settings.py` file and changing django settings on the fly is not recommended. Even if we change it from our app, we can't be sure that it is updated in all the running worker threads of the App.

[Here](https://g

[2021-08-23 07:41] geoo89 opened #483 "Tests from PR #118"
PR #118 adds a variety of tests. These might be partially outdated, so they should be updated to work with the current code base.

[2021-08-23 07:45] geoo89 opened #484 "Flat menu color scheme on desktop and mobile"
On mobile, the background for flat menus is blue:
![image](https://user-images.githubusercontent.com/678199/130409604-2bf68f94-578b-40b5-9cf7-6c34363a23a4.png)

On desktop, it is light grey:
![image](https://user-images.githubusercontent.com/678199/130409680-070b9bb0-c88a-4b86-a452-3565ac891ac5.png)

Thus the ideal color choice for the icons differs between desktop and mobile. For example, while w

[2021-08-23 07:57] geoo89 opened #485 "Log in button when already logged in"
Regardless of whether you're already logged in, there is a button that reads "Log In / Create Account" (or "Log In" on mobile).

- [x] When logged in, display the text "Profile" instead
- [x] When not logged in, have consistent text between mobile and desktop view (i.e. display "Log In / Create Account" in both)

[2021-08-23 08:27] geoo89 commented on #349
How much work is this going to be?

We might want to do the fork and add the fork to our requirements for now.

After using and testing this for a bit: We should also make a PR for wagtail-transfer, and once it is in, we can change the requirements to the appropriate version of wagtail-transfer again.

[2021-08-23 08:30] geoo89 opened #486 "Poll/Survey/Quiz: User input erased upon validation error"
When one user input is invalid upon submitting and the page is reloaded to display the validation error, the entire user input for all input fields gets erased.

[2021-08-23 09:22] geoo89 opened #487 "Labels for poll questions"
For polls/survey/quizzes, each question has a question label ("label" form field in the admin view).

For polls, the "label" of the form field is ignored (except for input type checkbox, where it is displayed next to the checkbox).
We should be consistent and display questions the same way across polls/survey/quizzes, so in for polls the question label should be displayed in front of the question

[2021-08-23 09:38] geoo89 opened #488 "Consistent way of adding answer choices for polls"
While for surveys and quizzes, answer choices are added one by one by pressing the + button, for polls only a comma- (soon pipe-) separated list is used.

This should be consistent so that the + button is used across the board.

[2021-08-23 09:41] geoo89 opened #489 "Streamline designs for poll/survey/quiz landing pages"
The designs of this "back" button specified in Figma differ for the three types, and in particular the "back" button design varies considerably:
- poll
![image](https://user-images.githubusercontent.com/678199/127169213-8702de20-8080-4363-99be-be22ebe746ed.png)
- quiz ("back to article" currently reads "back" in practice as it may take you back to the quiz itself if it is not embedded in an articl

[2021-08-23 09:48] geoo89 commented on #484
On mobile, force icon to be white (and text as well, as it currently is).

On desktop, force icon to be blue (and text black as it currently is).

[2021-08-23 09:51] geoo89 opened #490 "Section icon stroke colors"
Sections can specify their own color scheme.

This, for example, has an effect on the text color of the section title:
![image](https://user-images.githubusercontent.com/678199/130427456-4a841b33-b7a6-4821-a77b-c83f1338a886.png)
In this example, the icons are manually chosen so that their text color matches the text color.
This should be automatic, so that the icons with black stroke lines that co

[2021-08-23 10:11] geoo89 commented on #317
Add it in the site settings like the post registration survey.

[2021-08-23 12:05] geoo89 commented on #349
https://github.com/wagtail/wagtail-transfer/issues/98

[2021-08-24 10:17] ehmadzubair opened #492 "Create a non-interactive createsuperuser command for deployment pipeline"

[2021-08-24 13:23] sheralim012 commented on #492
[code]

set above-mentioned env. variables and run following command to create superuser in non-interactive mode
[code]

CC: @ehmadzubair

[2021-08-24 20:20] #470 closed

[2021-08-24 20:28] #329 closed

[2021-08-24 20:36] #182 closed

[2021-08-24 20:39] #332 closed

[2021-08-24 20:59] geoo89 opened #494 "CSS Typography"
Currently, there is a good amount of duplication in the style definitions, which sometimes causes some inconsistencies.

Example (hypothetical, please confer with the Figma designs for actual specification): Paragraph in an article, thank you text after survey submission, question text for quiz questions, ... all use the same "normal" font specification.

In their styling specification, properties

[2021-08-26 06:43] sheralim012 opened #496 "v1 poll free text questions migration to v2"
In v1 there are poll free text questions that are without any choices
but in v2 we don't support questions like those

should we support single/multi-line text in poll
or
should we ignore these questions (keeping in mind if we choose to ignore then v1 submissions will also be ignored for these polls)

[2021-08-26 14:16] geoo89 opened #498 "Don't display section titles with each poll."
For polls within sections (not direct display), the section title is displayed:
Before:
![image](https://user-images.githubusercontent.com/678199/130969930-2939e51a-52ec-4727-ab65-aea370b318fd.png)
Now:
![image](https://user-images.githubusercontent.com/678199/130970085-bdced21d-276f-46c4-91ee-38abb5271d2f.png)

It appears that this was introduced in 52ae04f93814b3150e597

[2021-08-26 14:27] geoo89 opened #499 "Direct display polls crash"
'PollFormField' object has no attribute 'has_skipping'

See: http://iogt-django-dev.idems.international/fr/sections/questionnaire-testing/subsection/

If possible, could you factor out the commonalities between normal and embedded questionnaires as part of this ticket?
We're running into a lot of obscure issues like this, and at this point I think the testing overload caused by this is larger than

[2021-08-27 15:24] geoo89 opened #503 "Refactor help text for (embedded) polls/survey/quiz"
PR #495 allowed to display custom help texts for questionnaire input fields.

However, the help text doesn't display if the questionnaire is embedded.

This is because there are two more instances of this logic in home/templates/blocks/embedded_questionnaire.html which wasn't changed. Rather than just adding it there as well, could you please factor this logic out?
(I believe the logic for the emb

[2021-08-27 18:16] geoo89 opened #504 "Dynamically update 'answer options' label in survey depending on input type"
![image](https://user-images.githubusercontent.com/678199/131171253-c3204497-d102-4dee-ad3f-74d3a887921f.png)

For checkboxes, radio and dropdown the labeling "Answer Options" and "Choice" is ok.

For the other input types however, the meaning of these fields is different and pertains to skip logic.
Thus when the user selects an input type that is NOT checkboxes, radio or dropdown, dynamically upd

[2021-08-30 07:42] geoo89 opened #506 "Can view Chatbot conversations of other users by editing URL"
By changing the number in the url `.../messaging/message/[number]` it is possible to view any message thread, regardless of which user initiated it. One should only be able to view one's own message threads.

[2021-08-30 07:43] geoo89 opened #507 "Left menu misplaced in chatbot thread view on desktop"
![image](https://user-images.githubusercontent.com/678199/131304075-07e4e7d0-b98e-4f7f-b889-ec8261806c7b.png)

[2021-08-30 08:08] geoo89 opened #508 "Add validation to prevent pipe symbol in answer choices"
The choice field must not contain pipes (|), as choices with pipes are split into lists with multiple elements:
![image](https://user-images.githubusercontent.com/678199/131307186-48790cd5-9958-4335-9d8b-2299301de87e.png)

Add a validation that ensures this.

[2021-08-30 08:14] geoo89 commented on #496
Put support for this back in.

[2021-08-30 09:50] geoo89 opened #509 "Display poll results for free-text polls"
Free-text entry will be added to polls as part of #496.

We need to come up with a design how to display the poll results. For example, we might not want to display all answers that have ever been given, but only e.g. top 10.

[2021-08-30 10:51] geoo89 opened #510 "Offline access (long term)"
Render pages device-side (using same rendering code as on server)

[2021-08-30 10:52] geoo89 opened #511 "Offline access (medium term)"
Render pages device-side using structured data (e.g. via a DB) rather than caching pages

Decide what to include and what to defer to #510

[2021-08-30 10:56] geoo89 opened #512 "Offline access (short term)"
Users should be able to view and interact with (some) pages.

Store data from offline interactions to send back to server, or disable (this list is likely incomplete atm):
Send back:
- questionnaire responses (details, e.g. how to deal with multiple submission, display pages based on logged in status TBD)
- Reading progress (pages that you've viewed)
Disable:
- Search
- password change
- chatbot

[2021-08-31 07:02] sheralim012 commented on #512
### Current behaviour

Following pages are cached
- hompage, sections, articles, footers, polls, surveys, quizzes

for polls, surveys, and quizzes, only first page is stored in cache and on submission we get network error

[2021-08-31 08:38] geoo89 opened #513 "Theme support: Reduce to small list of base colors"
#482 adds support for themes with colors for various objects configurable in Wagtail admin.
This currently includes 10 configurable colors.

To make this more user friendly, boil this down to a list of 3-5 configurable base colors that the remaining ones are derived from (e.g. as lighter or darker shades of the base colors). The 10 colors from #482 should still remain configurable however, so that

[2021-08-31 10:56] ehmadzubair opened #514 "Offline Access limitations"
Here's a list off the issues related to Offline access and their possible fixes.

| Limitation                                          | Fixes                                                                                                                                |
|-----------------------------------------------------|------------------------------------------------------------------------

[2021-08-31 13:15] cbunicef opened #515 "After deleting a section content, browser returns to the same URL which now gives a 404"
Error:

<html>
<body>
<div id="summary" style="padding: 10px 20px; margin: 0px; border-bottom: 1px solid rgb(221, 221, 221); background: rgb(255, 255, 204); color: rgb(0, 0, 0); font-family: sans-serif; font-size: small; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-tran

[2021-08-31 14:48] geoo89 opened #517 "Investigate block navigation on feature phones"
Investigate whether there is a simple flag/setting to be enable to make the site navigable with block navigation. If yes, enable it.

See #467 for background on block navigation.

[2021-08-31 14:51] geoo89 opened #518 "Create sqlite dump as part of load_v1_db"
load_v1_db should create a sqlite dump of the v1 DB. This can then be included in the docker images of the respective site, so that still have access to v1 data should it be needed.

Or: Find alternative way to bundle v1 db inside the respective docker image to allows to access it later.

[2021-08-31 15:00] geoo89 opened #519 "Support for customizable site strings"
As we are currently lacking translations for a variety of strings, we should provide a CMS page that allows site admins to provide translations for these strings in each locale that the site offers (except English?).

Mechanism:
- If provided, use the given translated string across the site
- If not provided, use the django translated string (which defaults to English if we don't have a translatio

[2021-08-31 17:02] volloholic commented on #514
Creating each point as a task and responding to each point.
- [ ] Polls, Surveys and Quizzes offline: Looks good but there are still lots of details to dig into (i.e. I assume polls and quizzes will not be able to have the normal completion pages what do we have instead?)
- [ ] Store User article “read” info: Sounds good but we should almost certainly store the full read info, see next point.
- [

[2021-08-31 19:07] geoo89 commented on #514
A few detail that additionally need to be thought out:

- The external link site should maybe read something slightly different, e.g. that you'll need internet access to proceed to the next page?
- log-in only/single-submission questionnaires: hide the former from the user? Only accept the first submission for the latter?
- questionnaires landing page: A placeholder indicating that your responses

[2021-08-31 19:17] geoo89 opened #520 "REST API for accessing questionnaires"
Investigate if this is easy to do (e.g. a switch in wagtail). If not, bump to v2.1

Context: Would like to use dashboards to visualize questionnaire response data without explicitly downloading csv, e.g. in PowerBI.

Other data to possibly make accessible via API in the future: users, reading progress

[2021-09-01 08:57] #382 closed

[2021-09-01 09:07] #379 closed

[2021-09-01 09:38] ehmadzubair opened #521 "After reporting a comment, the report button is still visible and the comment can be reported again."

[2021-09-01 09:46] ehmadzubair opened #522 "It is possible to report one's owns comments, is that intentional?"

[2021-09-01 09:47] ehmadzubair opened #523 "There's no indication if your own comment has been reported."

[2021-09-01 10:00] geoo89 commented on #523
When logged in as admin:
![image](https://user-images.githubusercontent.com/678199/131652173-782f80a5-fdde-4681-8d44-8ec3b6e48106.png)

When logged in as noname:
![image](https://user-images.githubusercontent.com/678199/131652082-02be911a-c431-4215-a208-ef6ed36845f3.png)
Note that for other users than yourself, you do get a note "This is a reported comment".

[2021-09-01 10:53] ehmadzubair commented on #518
I think the best way to do this would be to just load/store the legacy postgres db in the postgres container that has the V2 data. This way, we'll be able to easily access them both.

[2021-09-01 10:53] geoo89 opened #525 "Migrate page access restrictions"
Pages access can be restricted to specific user groups (also: only for logged in users/password protected): Settings -> Set page privacy

This data should be migrated over from v1.

[2021-09-01 10:57] geoo89 opened #526 "Add new environment variables to docker-compose.yml"
docker-compose.yml has some environment variables from the project settings, but not all.

Add these and check for completeness.
(Incomplete list: Chatbot user vars, wagtail transfer secret key).

[2021-09-01 11:00] #308 closed

[2021-09-01 11:06] geoo89 opened #527 "Paginated Comments Listing"
django-comments-xtd doesn't support pagination yet

Provide a "More" button that displays more comments (akin to chatbot).

[2021-09-01 11:13] geoo89 opened #528 "Add test cases for `comments.views.update`"

[2021-09-01 11:22] geoo89 opened #529 "Refactor skip logic/pagination in questionnaires"
Page numbers are sometimes wrong (e.g. when missing a required field and being redirected to the same page, or while skipping questions).

Obscure bug that we currently prevent by adding extra validation (non-trivial skip fields have to be marked as required): https://github.com/unicef/iogt/pull/505#issuecomment-910055219

[2021-09-01 11:46] geoo89 opened #530 "Set up Selenium/Cypress for testing"
https://www.selenium.dev/
https://docs.cypress.io/guides/getting-started/writing-your-first-test

[2021-09-01 16:00] #486 closed

[2021-09-01 16:00] #487 closed

[2021-09-01 16:00] #498 closed

[2021-09-01 16:00] #499 closed

[2021-09-01 16:00] #503 closed

[2021-09-01 16:00] #504 closed

[2021-09-01 16:00] #508 closed

[2021-09-01 16:08] geoo89 commented on #519
List of strings that we need:

- Are you sure you want to report this comment as inappropriate?
- moderator
- If you cannot view the media above you can download it.
- If you cannot view the media above you can download it.
- "Sorry, '[page title]' is not available in [language]. If you want to keep browsing in [language] you can click  <a href="%(url)s">here</a> to return the homepage."
- Section

[2021-09-01 16:26] #373 closed

[2021-09-01 16:35] geoo89 opened #531 "Don't show removed comments (temporarily)"
Rather than displaying "This comment has been removed.", do not show the comments that have been deleted by moderators at all.
This is a temp fix as we don't have translations for this, so maybe keep comments lines to make this easy to undo.

[2021-09-01 18:47] #496 closed

[2021-09-02 13:39] cbunicef opened #533 "Website up/down and Azure container health checks"
As a PLATFORM ADMINISTRATOR I want to be able to subscribe to notifications that will inform me when **my** site is not available for USERS as expected.

As UNICEF ICT and IDEMS I want to be able to subscribe to notifications that will inform me when **any** IoGT site is unavailable so that I can troubleshoot.

As a IoGT LEAD I want to be able to subscribe to notifications that will inform me when

[2021-09-03 08:17] ehmadzubair opened #534 "Make sure the Users migration command doesn't duplicate data"
The User migration command is non-destructive in the sense that it doesn't delete the existing users data for migration. We have to make sure that it doesn't duplicate anything related to the users.

[2021-09-03 11:45] #404 closed

[2021-09-03 12:52] cbunicef opened #537 "Homepage - If there is no featured content or banners, the logo/language header repeats twice"
![image](https://user-images.githubusercontent.com/30042226/132007126-20bd678f-d53c-4658-bd0f-699f8783c76b.png)

Possible solutions

1. Only show the top header
2. Only show the bottom header
3. Move the Sections list to be between the headers, ONLY for single-column views

[2021-09-03 14:41] geoo89 opened #539 "Survey missing from migration"
https://rke-iogt.unicef.io/sections/tide-turners-plastic-challenge/ages-15/self-assessment/
https://rke-iogt.unicef.io/admin/pages/1245/

There are user submissions for this survey, and thus `load_v1_users` crashes.

[2021-09-03 14:43] geoo89 opened #540 "Flag indicating whether comments are allowed missing from migration"
Articles have a flag indicating whether users can post comments. This is missing in the v1 migration.

[2021-09-03 16:53] geoo89 commented on #534
Comments, survey/poll submissions get duplicated. This should be fixed.

Users do not get duplicated, however there is an issue with duplicate names, see https://github.com/unicef/iogt/pull/473#pullrequestreview-746187499:

[2021-09-06 10:50] #530 closed

[2021-09-06 12:27] cbunicef opened #541 "Ensure PNG/GIF/JPEG fallback for SVG files to support Facebook Free Basics"
Per Facebook Free Basics guidelines:

**Visual Interface Functionality**
Your service may not rely on SVG images as these may not function on the Free Basics Platform. If you have SVG images present, please make sure that they can fall back to PNG, GIF, or JPEG. If your service makes use of WOFF webfonts, ensure that the appearance of your site is acceptable if these files are suppressed.

Free Ba